
/**
 *@Description of page: Dashboard course page all view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template v-slot:default>
<div id="courses">
    <h1 class="styleh1">All Courses</h1>

    <h4 class="m-5">Course Information</h4>
    <v-simple-table>
      <thead>
         <tr>
          <th class="text-left">Title</th>
           <th class="text-left">Author</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr v-for="course in courses" :key="course.title">
          <td>{{ course.title }}</td>
          <td>{{ course.author }}</td>
           <td>
             <button @click.prevent="onDeleteClick(course._id)" class="btn mr-3 bg-danger fixmobilebtn1"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
            <router-link class="btn btn-primary" tag="button" :to="{name: 'UpdateCourse',  params: { slug: course.slug }}" ><i class="text-light fa fa-pencil " aria-hidden="true" /></router-link>
          </td>
        </tr>
      </tbody>
  </v-simple-table>
  </div>
</template>
<script>
import CourseApi from '@/services/api/CourseApi';
import "vue-toast-notification/dist/theme-default.css";
export default {
  name: 'AddNewCourse',
  data () {
      return {
         courses: [],
      }
    },
    created() {
    CourseApi.getCoursesTitle().then(res => {
      if(res.data.length > 0) {
        this.courses = res.data;
      }
    }).catch(err => {
      // console.log(err)
    })
  },

  methods: {
    onDeleteClick(id) {
     CourseApi.deleteCourse(id).then(res => {
       CourseApi.getCoursesTitle().then(res => {
      if(res.data.length > 0) {
        this.courses = res.data;
        }
      })
       this.$toast.open({message:"Course Deleted",type:"error",position: "top"})
     }).catch(err => {
        this.$toast.open({message:"There was an error",type:"error",position: "top"})
     })
    }
  }

}
</script>


<style scoped lang="scss">
.headers {
  background-color: #08635d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
    background-color: #f3f3f3;
  label {
          letter-spacing: 0px;
          
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          text-transform: capitalize;
            }
.headers {
  // background: #05AB9F;
  .form-check{
    color: #fff;
    // background: #fff;
   .check-status {
      font-size: 10px;
      font-weight: 500;
      padding: 0px;
    
    }
    
  }
}

.c-info {
  background-color: #08635d;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  padding: 0.6em;
  border-radius: 5px

}
.bt{
  margin-left: 5px;
  margin-top: 5px;
}
.course {
  display: flex;
 
  .border {
      padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;

  }
}
.chk_status {
   color: #08635d;
   font-weight: 600;
   font-size: 1.2em;
   
}
}

  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>

