/** *@Description of page: Dashboard Course page add view. *@author: Teke Rene
*@contributor : Donacien *@contributor : Bangsi Rene */

<template>
  <div class="course1">
    <h1 class="styleh1">Update Course</h1>

    <form action="">
      <div class="container course">
        <div class="row ">
          <div class="col-md-8">
            <div class="border headers mb-2 m-lg-5 ">
              <h4 class="c-info">Course Information</h4>
              <div class="form-group">
                <label for="title">Course Title</label>
                <input
                  v-model="Course.title"
                  type="text"
                  class="form-control"
                  name="title"
                  placeholder="course title"
                />
              </div>

              <div class="form-group" style="color:#595e77">
                <label for="except">course except</label>
                <vue-editor v-model="Course.excerpt"></vue-editor>
              </div>
            </div>

            <div class="border  mb-2 m-lg-5 ">
              <div class="row ">
                <div class="col-md-12">
                  <div class="row headers">
                    <div class="col-md-8">
                      <h4 class="">section1 : Primary offer</h4>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <select
                          v-model="Course.primaryOffer.status"
                          name="admin"
                          class="form-control"
                          id=""
                        >
                          <option value="active">Active</option>
                          <option value="hide">Hide</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <input
                        type="text"
                        v-model="Course.primaryOffer.title"
                        name="title"
                        class="form-control"
                        placeholder="Title"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        v-model="Course.primaryOffer.subtitle"
                        name="sub-title"
                        class="form-control"
                        placeholder="Sub Title"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="section1">Intro</label>
                    <!-- <textarea
                      name="section1"
                      v-model="Course.primaryOffer.intro"
                      class="form-control"
                      id=""
                      cols=""
                      rows=""
                    ></textarea> -->
                    <vue-editor
                      v-model="Course.primaryOffer.intro"
                    ></vue-editor>
                  </div>
                </div>
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section2 : More About</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.moreAbout.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <input
                    v-model="Course.moreAbout.title"
                    type="text"
                    name="title"
                    class="form-control"
                    placeholder="Title"
                  />
                </div>
                <div class="col">
                  <input
                    v-model="Course.moreAbout.subtitle"
                    type="text"
                    name="sub-title"
                    class="form-control"
                    placeholder="Sub Title"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="section1">Intro</label>
                <!-- <textarea
                  v-model="Course.moreAbout.intro"
                  name="section1"
                  id=""
                  cols=""
                  class="form-control"
                  rows=""
                ></textarea> -->
                <vue-editor
                      v-model="Course.moreAbout.intro"
                    ></vue-editor>
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section3: Program Logo</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.programLogosPath.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-8">
                      <input
                        @change="onFileUpload"
                        type="file"
                        name="pl-1"
                        class="form-control mt-3"
                        id="customFileLang1"
                        lang="es"
                      />
                    </div>
                    <div class="col-md-4">
                      <img
                        :src="baseUrl + logosPath.logo1"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <input
                        @change="onFileUpload"
                        type="file"
                        name="pl-2"
                        class="form-control mt-3"
                        id="customFileLang2"
                        lang="es"
                      />
                    </div>
                    <div class="col-md-4">
                      <img
                        :src="baseUrl + logosPath.logo2"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <input
                        @change="onFileUpload"
                        type="file"
                        name="pl-3"
                        class="form-control mt-3"
                        id="customFileLang3"
                        lang="es"
                      />
                    </div>

                    <div class="col-md-4">
                      <img
                        :src="baseUrl + logosPath.logo3"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <input
                        @change="onFileUpload"
                        type="file"
                        name="pl-4"
                        class="form-control mt-3"
                        id="customFileLang4"
                        lang="es"
                      />
                    </div>

                    <div class="col-md-4">
                      <img
                        :src="baseUrl + logosPath.logo4"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <input
                        @change="onFileUpload"
                        type="file"
                        name="pl-5"
                        class="form-control mt-3"
                        id="customFileLang5"
                        lang="es"
                      />
                    </div>

                    <div class="col-md-4">
                      <img
                        :src="baseUrl + logosPath.logo5"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section4 : Primary Articles</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.primaryArticle.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label>Title</label>
                  <input
                    v-model="Course.primaryArticle.title"
                    type="text"
                    class="form-control"
                    placeholder="Title"
                  />
                </div>
                <div class="col">
                  <label>Article Link</label>
                  <input
                    v-model="Course.primaryArticle.url"
                    type="text"
                    class="form-control"
                    placeholder="https//:"
                  />
                </div>
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section5 : Program Curiculum</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.programCorriculum.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section6 : Secondary Offers</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.secondaryOffer.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4">
                  <label for="title">Title</label>
                  <input
                    v-model="Course.secondaryOffer.title"
                    type="text"
                    name="title"
                    class="form-control"
                  />
                </div>
                <div class="col-md-4">
                  <label for="sub-title"> SubTitle :</label>
                  <input
                    v-model="Course.secondaryOffer.subtitle"
                    type="text"
                    name="sub-title"
                    class="form-control"
                  />
                </div>
                <div class="col-md-4">
                  <label for="video">Video Link</label>
                  <input
                    v-model="Course.secondaryOffer.videoUrl"
                    type="text"
                    name="video"
                    class="form-control"
                    placeholder="https://"
                  />
                </div>
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section7 : Tertiary Offers</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.tertiaryOffer.status"
                      name="admin"
                      class="check_status form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4">
                  <label for="title">Title</label>
                  <input
                    v-model="Course.tertiaryOffer.title"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-4">
                  <label for="subtitle"> SubTitle :</label>
                  <input
                    v-model="Course.tertiaryOffer.subtitle"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-4">
                  <label for="subtitle"> Video Url :</label>
                  <input
                    v-model="Course.tertiaryOffer.videoUrl"
                    placeholder="Video Url"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <label for="desription">Description</label>
                <vue-editor
                  v-model="Course.tertiaryOffer.description"
                ></vue-editor>
                <!-- <textarea
                  v-model="Course.tertiaryOffer.description"
                  type="text"
                  class="form-control"
                  name="description"
                  placeholder="Description"
                  cols=""
                  rows="3"
                ></textarea> -->
              </div>
            </div>
            <div class="border mb-1 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section 8 : Program FAQs</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.programFaq.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="section1">Intro</label>
                <vue-editor
                  v-model="Course.programFaq.intro"
                ></vue-editor>
                <!-- <textarea
                  v-model="Course.programFaq.intro"
                  name="section1"
                  id=""
                  cols=""
                  class="form-control"
                  rows=""
                ></textarea> -->
              </div>
            </div>

            <div class="border mb-2 m-lg-5 ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">section 9 : Secondary Article</h4>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <select
                      v-model="Course.secondaryArticle.status"
                      name="admin"
                      class="form-control"
                      id=""
                    >
                      <option value="active">Active</option>
                      <option value="hide">Hide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4">
                  <label for="title">Title</label>
                  <input
                    v-model="Course.secondaryArticle.title"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-4">
                  <label for="subtitle"> Article Link :</label>
                  <input
                    v-model="Course.secondaryArticle.url"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 col-md-4">
            <div class="border mb-2 m-lg-5 ">
              <h4 class="">Status</h4>
              <hr class="s-solid" />
              <div class="form-check">
                <select
                  v-model="Course.status"
                  name="admin"
                  class="mt-2 chk_status form-control"
                  id=""
                >
                  <option value="active">Published</option>
                  <option value="draft">Draft</option>
                </select>
              </div>
            </div>

            <div class="border m-md-5 mb-2">
              <div class="form-group">
                <label class="feature-img" for="upload">Main Image</label>
                <img
                  :src="baseUrl + mainCLogo"
                  class="img-fluid bg-info d-block"
                  alt=""
                />
                <hr class="s-solid" />
                <input
                  @change="onMainUpload"
                  type="file"
                  class="form-control"
                />
              </div>
            </div>
            <div class="border mb-2 m-lg-5 ">
              <h4 class="">Update Course</h4>
              <hr class="s-solid" />
              <div class="d-md-flex col-md-12">
                <button @click="onFormSubmit" type="" class="btn save mr-3">
                  Update Course
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import CourseApi from "@/services/api/CourseApi";
import { VueEditor, Quill } from "vue2-editor";

import "vue-toast-notification/dist/theme-default.css";
export default {
  name: "app",
  components: { VueEditor },
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Course: {
        title: "",
        excerpt: "",
        status: "",
        courseMainPhotoUrl: "",
        primaryOffer: {
          title: "",
          subtitle: "",
          intro: "",
          status: "active",
        },
        moreAbout: {
          title: "",
          subtitle: "",
          intro: "",
          status: "active",
        },
        programLogosPath: {
          paths: "",
          status: "active",
        },
        primaryArticle: {
          title: "",
          url: "",
          status: "active",
        },
        programCorriculum: {
          status: "active",
        },
        secondaryOffer: {
          title: "",
          subtitle: "",
          videoUrl: "",
          status: "active",
        },
        tertiaryOffer: {
          title: "",
          subtitle: "",
          description: "",
          videoUrl: "",
          status: "active",
        },
        programFaq: {
          status: "active",
          intro: "",
        },
        secondaryArticle: {
          title: "",
          url: "",
          status: "active",
        },
      },
      courseId: "",
      logoFinalPath: "",
      mainCLogo: "",
      logoName: "",
      logosPath: {
        logo1: "",
        logo2: "",
        logo3: "",
        logo4: "",
        logo5: "",
      },
    };
  },

  created() {
    CourseApi.getCourseBySlug(this.$route.params.slug)
      .then((res) => {
        // console.log(res)
        // console.log(res.data.programLogosPath.paths.split(','))
        this.mainCLogo = res.data.courseMainPhotoUrl;
        let incommingPaths = res.data.programLogosPath.paths.split(",");
        const keys = Object.keys(this.logosPath);
        this.courseId = res.data._id;

        for (let i = 0; i < incommingPaths.length; i++) {
          // console.log(`${this.logosPath.logo}`)
          this.logosPath[keys[i]] = incommingPaths[i];
        }
        console.log(this.logosPath);
        this.Course = { ...res.data };
      })
      .catch((err) => {
        console.log("There was an error");
      });
  },

  methods: {
    onFormSubmit(e) {
      this.logoFinalPath = this.logoFinalPath.concat(
        `${this.logosPath.logo1},${this.logosPath.logo2},${this.logosPath.logo3},${this.logosPath.logo4},${this.logosPath.logo5}`
      );
      this.Course.programLogosPath.paths = this.logoFinalPath;
      this.Course.courseMainPhotoUrl = this.mainCLogo;
      CourseApi.updateCourse(this.courseId, this.Course)
        .then((data) => {
          console.log(data);
        })
        .catch((err) => {
          this.logoFinalPath = "";
          // console.log(err)
          this.$toast.open({
            message: "There was an error",
            type: "error",
            position: "top",
          });
        });
    },

    onFileUpload(event) {
      this.logoName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();

      fd.append("image", img);

      CourseApi.fileUpload(fd).then((imgPath) => {
        if (this.logoName == "pl-1") {
          this.logosPath.logo1 = imgPath;
          this.$toast.open({ message: "Image UPloaded", position: "top" });
        } else if (this.logoName == "pl-2") {
          this.logosPath.logo2 = imgPath;
          this.$toast.open({ message: "Image UPloaded", position: "top" });
        } else if (this.logoName == "pl-3") {
          this.logosPath.logo3 = imgPath;
          this.$toast.open({ message: "Image UPloaded", position: "top" });
        } else if (this.logoName == "pl-4") {
          this.logosPath.logo4 = imgPath;
          this.$toast.open({ message: "Image UPloaded", position: "top" });
        } else if (this.logoName == "pl-5") {
          this.logosPath.logo5 = imgPath;
          this.$toast.open({ message: "Image UPloaded", position: "top" });
        }
        //  this.courseInfo.programLogosPath.paths = this.courseInfo.programLogosPath.paths.concat(`,${res.data.imgPath}`);
      });
    },
    onMainUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append("image", img);

      CourseApi.mainUpload(fd).then((imgPath) => {
        this.mainCLogo = imgPath;
        this.$toast.open({ message: "Image UPloaded", position: "top" });
      });
    },
  },
};
</script>

<style scoped lang="scss">
.headers {
  background-color: #08635d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
  background-color: #f3f3f3;
  label {
    letter-spacing: 0px;

    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .headers {
    // background: #05AB9F;
    .form-check {
      color: #fff;
      // background: #fff;
      .check-status {
        font-size: 10px;
        font-weight: 500;
        padding: 0px;
      }
    }
  }

  .c-info {
    background-color: #08635d;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.6em;
    border-radius: 5px;
  }
  .bt {
    margin-left: 5px;
    margin-top: 5px;
  }
  .course {
    display: flex;

    .border {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  .chk_status {
    color: #08635d;
    font-weight: 600;
    font-size: 1.2em;
  }
}
</style>
