<template>
<div class="footer">
  <CFooter>
    <div class="row sidebar-footer ">
      <div class="col-md-6">
        <div class="text-center1">
         <a class="text1 text-white" target="_blank">Model Initiative of Africa</a>
         <span class="ml-1 text-white">&copy; {{new Date().getFullYear()}}.</span>
      </div>
      </div>
      <div class="col-md-6">
          <div class="mfs-auto text-center1">
          <span class="text2 text-white float-right ml-1" target="_blank">Powered by</span>
          <a class="text-white display-5 float-right text2">MIA</a>
      </div>
      </div>
    </div>
  </CFooter>
  </div>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
<style scoped>
  .footer {
    color: red !important;
    background-color: orange !important;
    }
    .sidebar-footer {
       background-color: #08635d;
       width: 100%;
    }

/* @media only screen and (max-width: 600px) {
    .sidebar-footer {
       background-color: #08635d;
       margin: 0%;
       padding: 0%;
       width: 100vh;
    }
} */
</style>