<template>
  <CSidebar class="mysidebar"
    fixed 
    :minimize="minimize"
    :show="show"
    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"
  >
    <CSidebarBrand class="d-md-down-none sidebarheader" to="/">
      <!-- <CIcon 
        class="c-sidebar-brand-full" 
        name="logo" 
        size="custom-size" 
        :height="35" 
        viewBox="0 0 556 134"
      /> -->
      <img class="img-fluid sidebar-logo" src="../assets/images/logo.png">
      <!-- <CIcon 
        class="c-sidebar-brand-minimized" 
        name="logo" 
        size="custom-size" 
        :height="35" 
        viewBox="0 0 110 134"
      /> -->
    </CSidebarBrand>

    <CRenderFunction flat :content-to-render="$options.nav"/>
    <CSidebarMinimizer
      class="d-md-down-none sidebarfooter"
      @click.native="$store.commit('set', ['sidebarMinimize', !minimize])"
    />
  </CSidebar>
</template>

<script>
import nav from './_nav'

export default {
  name: 'TheSidebar',
  nav,
  computed: {
    show () {
      return this.$store.state.sidebarShow 
    },
    minimize () {
      return this.$store.state.sidebarMinimize 
    }
  }
}
</script>



<style scoped lang="scss">
   .mysidebar {
     background-color: #05AB9F;
   } 

   .sidebarheader {
     background-color: #043532;
   }

   .sidebarfooter { 
     background-color: #08635d; 
   }
   a{
     padding: 10px;
     .sidebar-logo {
        width: auto;
        height: 4.5em;
      }
   }

 </style>
