import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
<template>
  <div id="certification">
    <h1 class="styleh1">Add New Certification</h1>
    
    <form action="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="border m-md-5 mb-2">
              <div class="form-group">
                <label for="title">Title</label>
                <input v-model="Certification.title" type="text" class="form-control" name="name" id="title" placeholder="Title">
              </div>

               <div class="form-group">
                <label for="description">Description</label>
                <textarea v-model="Certification.description" name="description" class="form-control" id="description" cols="" rows="" placeholder="Description"></textarea>
              </div>

               <div class="form-group">
                <h5 for="photo">Photo</h5>
                <img :src="baseUrl+Certification.imagePathUrl" class="img-fluid" alt="">
                <input @change="onFileUpload" type="file" name="photo" class="form-control" id="photo" placeholder="upload">
              </div>
              <div class="col-md-6">
               <div class="border m-md-5 mb-2">
                <h4 class="sub_header">Status</h4>
                 <div class="form-check">
                  <select v-model="Certification.status" class=" chk_status form-control" id="">
                    <option value="draft">Draft</option>
                    <option value="active">Published</option>
                  </select>
                 </div>
              </div>
              </div>

              <button @click.prevent="onFormSubmit" class="save btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import CertificationApi from '@/services/api/CertificationApi';

export default {
  name: 'Certification',
  data() {
    return {
      Certification: {
        title: '',
        description: '',
        imagePathUrl: '',
        status: 'active'
      },
      baseUrl: process.env.VUE_APP_API_BASE_URL,
    }
  },
  
  methods: {
    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image',img);

      CertificationApi.photoUpload(fd).then(res => {
        this.Certification.imagePathUrl = res.data.imgPath;
        this.$toast.open({message: "Image Uploaded", position: "top"})
      }).catch(err =>{
         this.$toast.open({message: "There was an error",type: "error", position: "top"})
      })
    },
    onFormSubmit(e) {
       CertificationApi.addCertification(this.Certification).then(res => {
       this.$toast.open({ message: "Certification Added", position: "top" });
       this.Certification.title = '';
       this.Certification.description = '';
       this.Certification.imagePathUrl = '';
       this.Certification.status = 'active'
      
      }).catch(err => {
        this.$toast.open({message: "There Was A Problem", type: "error", position: "top"})
      })
    }
  }
}
</script>

<style scoped lang="scss">
#certification {
  img {
   height: 40%;
   width: 40%;
  }
  background: #f3f3f3;
    form {
      background: #f3f3f3;
      display: block;
      align-content: center;
    
      label{
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  .chk_status {
   color: black;
   font-weight: bold;
   font-size: 0.9em;
  
  }

      .border {
         padding: 20px;
         border-radius: 5px;
         background: #fff;
         -webkit-box-shadow: 2px 2px 8px;
         box-shadow: 0px 0px 7px 3px #b1b1b1;
        H4 {
      text-align: center;
    }
        }
    
  }
  </style>