<template v-slot:default>
  <div>
    <h1 class="styleh1">Add New Certification</h1>
    <v-simple-table dense>
    
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th class="text-left">Description</th>
          <th class="text-left">Author</th>
          <th class="text-left">Status</th>
          <th class="text-left">updated_at</th>
          <th class="text-left">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="certificate in certifications" :key="certificate.name">
         <td>{{ certificate.title }}</td>
          <td>{{ certificate.description }}</td>
          <td>{{ certificate.author }}</td>
          <td>{{ certificate.status}}</td>
          <td>{{ certificate.updated_at }}</td>
          <td>{{ certificate.action}}
             <button @click.prevent="onCertificateDelete($event,certificate._id)" class="btn bg-danger fixmobilebtn1"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
            <button type="button" class="btn bg-info ml-3 fixmobilebtn2" @click.prevent="onEditClick($event,certificate._id)" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="text-light fa fa-pencil " aria-hidden="true"></i></button>
             <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div id="certification">
          <h1 class="text-center styleh1">Update Certification</h1>
          <form action="">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="border m-md-5 mb-2">
                    <div class="form-group">
                      <label for="title">Title</label>
                    
                      <input type="text" value="TEst"  v-model="updateData.title" class="form-control" name="name" id="title" placeholder="Title">
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea v-model="updateData.description" name="description" class="form-control" id="description" cols="" rows="" placeholder="Description"></textarea>
                    </div>

                    <div class="form-group">
                      <h5 for="photo">Photo</h5>
                       <img :src="baseUrl+updateData.imagePathUrl" class="img-fluid" alt="">
                      <input @change="onFileUpload" type="file" name="photo" class="form-control" id="photo" placeholder="upload">
                    </div>
                    <div class="col-md-6">
                    <div class="border m-md-5 mb-2">
                      <h4 class="sub_header">Status</h4>
                      <div class="form-check">
                        <select v-model="updateData.status" name="admin" class=" chk_status form-control" id="">
                          <option value="draft">Draft</option>
                          <option value="active">Published</option>
                        </select>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <button @click.prevent="onCertificationUpdated" class="save btn">Update</button>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <button @click="onCloseClick" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </td>       
</tr>
</tbody>

  </v-simple-table>
   


  </div>
</template>

<script>
import "vue-toast-notification/dist/theme-default.css";
import CertificationApi from '@/services/api/CertificationApi';

export default {
  name: 'All',
  data () {
      return {
        certifications: [],
        updateData: {
          title: '',
          description: '',
          imagePathUrl: '',
          status: '',
        },
        current_id: '',
        baseUrl: process.env.VUE_APP_API_BASE_URL,
      }
    },
    created() {
       CertificationApi.getAllCertification().then(res => {
          this.certifications = res.data.certification;
        })
    },

    methods: {
      onCertificationUpdated() {
          CertificationApi.updateCertification(this.current_id,this.updateData).then(res => {
             this.$toast.open({ message: "Certification Updated", position: "top" });
            this.updateData = { ...res.data.certification };
            CertificationApi.getAllCertification().then(res => {
                  this.certifications = res.data.certification;
            })
      })
      },

      onFileUpload(event) {
        let img = event.target.files[0];
        let fd = new FormData();
        fd.append('image',img);

       CertificationApi.photoUpload(fd).then(res => {
          this.$toast.open({message: "Image Uploaded", position: "top"})
          // console.log(res.data.imgPath)
          this.updateData.imagePathUrl = res.data.imgPath;
        }).catch(err =>{
          // console.log(err)
        })
    },

      onEditClick(e,id) {
        this.current_id = id;
        CertificationApi.getSingleCertification(id).then(res => {
          this.updateData = res.data.certification[0];
        }).catch(err => {
          // console.log(err)
        })
      },
      onCloseClick() {
        // console.log('closed Clicked')
        CertificationApi.getSingleCertification(this.current_id).then(res => {
          this.updateData = res.data.certification[0];
        }).catch(err => {
          // console.log(err)
        })
      },
      onCertificateDelete(e,id) {
         CertificationApi.deleteCertification(id).then(res => {
              CertificationApi.getAllCertification().then(res => {
                  this.certifications = res.data.certification;
                })
            this.$toast.open({ message: "Certification Deleted",type: 'error', position: "top" });
          }).catch(err => {
            // console.log(err)
          })
      }
    }
}
</script>

<style scoped lang="scss">
#certification {
  img{
    width: 40%;
    height: 40%;
  }
  background: #f3f3f3;
    form {
      background: #f3f3f3;
      display: block;
      align-content: center;
    
      label{
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  .chk_status {
   color: black;
   font-weight: bold;
   font-size: 0.9em;
  
  }

      .border {
         padding: 20px;
         border-radius: 5px;
         background: #fff;
         -webkit-box-shadow: 2px 2px 8px;
         box-shadow: 0px 0px 7px 3px #b1b1b1;
        H4 {
      text-align: center;
    }
        }
    
  }

  //  h1 {
  //     padding: 25px;
  //     font-weight: 700;
  //     text-align: center;
  //     margin: 0 0px;
  //     background-color: white;
  //     color: #075a54;
  //     font-size: 1.5em; 
  //     box-shadow: 0px 2px 6px 0px #08635d
  //   }

      @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>
 
