<template>
  <div class="course1">
    <h1 class="styleh1">Course Faq's</h1>
    <div class="container course">
      <div class="row ">
        <div class="col-md-4 col-sm-12">
          <form action="">
            <div class="border1 contain1 headers mb-2 m-lg-5 ">
              <h4 class="c-info">Add New</h4>
              <div class="form-group">
                <label for="title"> Title</label>
                <input
                v-model="CourseFaq.content.question"
                  type="text"
                  class="form-control"
                  name="title"
                  placeholder="Faq Title"
                />
              </div>

              <div class="form-group">
                <label for="except">course except</label>
                <textarea
                v-model="CourseFaq.content.videoUrl"
                  name="section1"
                  class="form-control"
                  id=""
                  cols="5"
                  placeholder="Faq Video Url"
                  rows=""
                ></textarea>
              </div>
              <div v-if="addMode">
                <button @click.prevent="addFaq" type="" class="btn save mr-3">Add Faq</button>
              </div>
              <div v-if="createMode">
                <button @click.prevent="createFaq" type="" class="btn save mr-3">Create Faq</button>
              </div>
              <div v-if="updateMode">
                  <button @click.prevent="updateCourseFaq" type="" class="btn save mt-2 mr-3">Update Data</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-12 col-md-8">
          <div class="border2 mt-5">
            <div class=" mb-2  ">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">Course Faqs</h4>
                </div>
                <div class="col-md-4">
                  <div v-if="available" class="">
                    <select @change="selectChange" name="admin" class="form-control" id="">
                      <option v-for="(course, index) in courses" :key="index" :value="course._id">{{ course.title }}</option>
                    </select>
                  </div>
                  <div v-else>
                      <select name="admin" class="form-control" id="">
                        <option>No Courses</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="mytable">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Video_Url</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                 <tr  v-for="(faq, index) in faqs" :key="index">
                  <td>{{ faq.question }}</td>
                  <td>{{ faq.videoUrl }}</td>
                  <td>
                    <button @click.prevent="deleteFaq(faq._id)" class="btn btndup bg-danger"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
                    <!-- <button class="btn btndup bg-info ml-1">edit</button> -->
                    <button @click="onEditClick(faq._id,faq)" type="button" class="btn btndup bg-info ml-1" data-target=".bd-example-modal-lg"><i class="text-light fa fa-pencil " aria-hidden="true"></i></button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="col-md-12 col-sm-12">
                            <form action="">
                              <div class="border1 contain1 headers mb-2 m-lg-5 ">
                                <h4 class="c-info">Update COurse Faq</h4>
                                <div class="form-group">
                                  <label for="title"> Title</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="title"
                                    placeholder="course Faq title"
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="except">course except</label>
                                  <textarea
                                    name="section1"
                                    class="form-control"
                                    id=""
                                    cols="5"
                                    placeholder="Course Faq video url"
                                    rows=""
                                  ></textarea>
                                </div>
                                <button type="" class="btn save mr-3">Update Data</button>
                                <button type="button" class="btn btn-secondary mt-1" data-dismiss="modal">Close</button>

                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CourseFaqApi from "@/services/api/CourseFaqApi";
export default {
  name: "app",
  data() {
    return {
      CourseFaq: {
        content: {
          question: '',
          videoUrl: '',
        }
      },
      faqs: [],
      courses: [],
      available: false,
      faqsAvailable: false,
      addMode: false,
      createMode: true,
      courseId: '',
      currentEditId: '',
      updateMode: false
    }
  },
  created() {
    CourseFaqApi.getCourses().then(res => {
      if(res.data.data.length > 0) {
         this.available = true;
         this.addMode = false;
         this.updateMode = false;
         this.createMode = true;

         this.courses = res.data.data;
         this.courseId = res.data.data[0]._id;
        //  this.CourseFaq.course_id = res.data.data[0]._id;
         CourseFaqApi.getCourseFaq(this.courses[0]._id).then(res => {
          if(res.data.data.length > 0){
            this.faqs = res.data.data[0].content;
            this.faqsAvailable = true;
            this.addMode = true;
            this.updateMode = false;
            this.createMode = false;
          }
        });
      }
    })
  },
  methods: {
    selectChange(e) {
      let id = e.target.value;
      this.courseId = id;
      CourseFaqApi.getCourseFaq(id).then(res => {
        if(res.data.data.length > 0){
           this.faqs = res.data.data[0].content;
           this.faqsAvailable = true;
           this.addMode = true;
           this.updateMode = false;
           this.createMode = false;
        }else {
          this.faqs = res.data.data;
          this.faqsAvailable = false;
          this.addMode = false;
          this.updateMode = false;
          this.createMode = true;
        }
      });
      this.CourseFaq.content.question = '';
      this.CourseFaq.content.videoUrl = '';
    },

    createFaq() {
        this.CourseFaq.course_id = this.courseId;
        CourseFaqApi.createCourseFaq(this.CourseFaq).then(res => {
          this.faqs = res.data.data.content;
          this.faqsAvailable = true;
          this.addMode = true;
          this.updateMode = false;
          this.createMode = false;
          this.CourseFaq.content.question = '';
          this.CourseFaq.content.videoUrl = '';
        });
        
    },

    addFaq() {
      // console.log(this.CourseFaq)
      CourseFaqApi.addCourseFaq(this.courseId,this.CourseFaq.content).then(res => {
          CourseFaqApi.getCourseFaq(this.courseId).then(res => {
        
            this.faqs = res.data.data[0].content;
            this.addMode = true;
            this.updateMode = false;
            this.createMode = false;
        });
        this.CourseFaq.content.question = '';
        this.CourseFaq.content.videoUrl = '';
      })
    
    },

    deleteFaq(id) {
      CourseFaqApi.deleteCourseFaq(id,this.courseId).then(res => {
        CourseFaqApi.getCourseFaq(this.courseId).then(res => {
            this.faqs = res.data.data[0].content;
            this.addMode = true;
            this.updateMode = false;
            this.createMode = false;
        });
      });
    },

    updateCourseFaq() {
      CourseFaqApi.updateSingleFaq(this.courseId,this.currentEditId,this.CourseFaq.content).then(res => {
        CourseFaqApi.getCourseFaq(this.courseId).then(res => {
            this.faqs = res.data.data[0].content;
            this.addMode = true;
            this.updateMode = false;
            this.createMode = false;
        });
        this.CourseFaq.content.question = '';
        this.CourseFaq.content.videoUrl = '';
      })
    },

    onEditClick(id,faq) {
      this.currentEditId = id;
      this.CourseFaq.content.question = faq.question;
      this.CourseFaq.content.videoUrl = faq.videoUrl;
      this.addMode = false;
      this.updateMode =true;
      this.createMode = false;
    }
  } 
};
</script>

<style scoped lang="scss">
 .mytable {
   overflow-x: scroll;
   width: 100% !important;
 }
 
.headers {
  background-color: #08635d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
  background-color: #f3f3f3;
  label {
    letter-spacing: 0px;

    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .headers {
    // background: #05AB9F;
    .form-check {
      color: #fff;
      // background: #fff;
      .check-status {
        font-size: 10px;
        font-weight: 500;
        padding: 0px;
      }
    }
  }

  .c-info {
    background-color: #08635d;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.6em;
    border-radius: 5px;
  }
  .bt {
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .course {
    display: flex;

    .border1 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }

    .border2 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  .chk_status {
    color: #08635d;
    font-weight: 600;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 750px) {
   .border2 {
    width: 84%;
  }
  .btndup{
        padding: 5px;
        font-weight: 500;
    font-size: 0.9em;
    color: #fff;
    height: 27px;
    width: 63px;
  }
 .border1 {
  margin-right: 3.5em;
  }
 .mytable {
   overflow-x: scroll;
   width: 100% !important;
 }
 .ml-1 {
   margin-left: 0% !important;
   margin-top: 1em !important;
 }
 td {
    font-size: 1em !important;
  }
}
</style>
