/**
 *@Description of page: Dashboard about page view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template>
  <div class="about">
    <h1 class="styleh1">About Page Structure</h1>
    <form action="">
      <div class="container">
        <div class="row d-flex">
           
            <div class="col-md-6">
                <div class="border mb-2 m-lg-5">
                <h4 class="m3 sub_header">Home  Background</h4>
                 <div class="form-group">
                   <h5>Header Background Image</h5>
                  <img :src="baseUrl+About.headerImgUrl" class="img-fluid" alt="">
                  <input @change="onFileUpload" name="back-image" type="file" class="form-control" placeholder="upload bg image">
                </div>
                </div>

                <div class="border mb-2 m-lg-5">
                  <h4 class="sub_header">About Us </h4>
                    <div class="mt-3 form-group">
                      <label for="intro">Intro Text</label>
                      <textarea required v-model="About.aboutSec.intro" name="intro" id="" cols="" class="form-control" rows="13"></textarea>
                    </div>
                    <div class="mt-3 form-group">
                      <h5>About Image</h5>
                      <img :src="baseUrl+About.aboutSec.imgUrl" class="img-fluid" alt="">
                      <input @change="onFileUpload" name="about-image" type="file" class="form-control" placeholder="upload">
                    </div>
                  </div>
            </div>

            <div class="col-md-6">
              <div class="preposition border mb-2 m-lg-5">
                <h4 class="sub_header">Values Preposition</h4>

                  <div class="form-group">
                    <label for="Youtube">Youtube Video ID:</label>
                    <input required v-model="About.videoUrl" type="text" class="form-control">
                  </div>
                 
                  <div class="form-group">
                    <label for="vision">Vision: </label>
                    <textarea required v-model="About.vissionDescription" name="" class="form-control" id="" cols="" rows=""></textarea>
                  </div>
                
                  <div class="form-group">
                    <label for="mission">Mission:</label>
                     <textarea required v-model="About.missionDescription" name="" class="form-control" id="" cols="" rows=""></textarea>
                  </div>
                
                  <div class="form-group">
                    <label for="corriculum">Corriculum:</label>
                    <textarea required v-model="About.corriculumDescription" name="corriculum" class="form-control" id="" cols="" rows=""></textarea>
                  </div>

                 <div class="form-group">
                      <label for="environment">Environment:</label>
                      <textarea required v-model="About.environmentDescription" name="environment" class="form-control" id="" cols="" rows=""></textarea>
                </div>

             </div> 
            
             <div class="border mb-2 m-lg-5">
                <h4 class="sub_header">Instructor</h4>
                  <div class="form-group">
                    <textarea required v-model="About.instructorsIntro" name="" class="form-control" id="" cols="" rows=""></textarea>
                  </div>
              </div>
                <div class="border mb-2 m-lg-5 pb-0">
                  <div v-if="create" class="form-group">
                      <button @click="onFormSubmit" type="submit" class="btn save">Save About</button>
                  </div>
                   <div v-else class="form-group">
                      <button @click.prevent="onAboutUpdate" type="submit" class="btn save">Update About</button>
                  </div>
               </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</template>

<script>
import "vue-toast-notification/dist/theme-default.css";
import AboutApi from '@/services/api/AboutApi'
export default {
  name: 'About',
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      About: {
      headerImgUrl: '',
      aboutSec: {
          intro: '',
          imgUrl: ''
        },
        videoUrl: '',
        vissionDescription: '',
        missionDescription: '',
        corriculumDescription: '',
        environmentDescription: '',
        instructorsIntro:''
      },
      imageName: '',
      pageId: '',
      create: true
    }
  },
  created() {
    AboutApi.getAboutPage().then(res => {
      if(res.data.about.length > 0) {
        this.create = false;
        this.pageId = res.data.about[0]._id;
        this.About = { ...res.data.about[0] };
      }
    }).catch(err => {
      // console.log(err)
    })
  },
  methods: {
    onFileUpload(event) {
      this.imageName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();
       fd.append('image', img);

     AboutApi.photoUpload(fd).then(res => {
        switch(this.imageName) {
          case 'back-image':
            this.$toast.open({ message: "image uploaded", position: "top" });
            this.About.headerImgUrl = res.data.imgPath;
            break;
          case 'about-image':
            this.$toast.open({ message: "image uploaded", position: "top" });
            this.About.aboutSec.imgUrl = res.data.imgPath;
            break;
        }
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
        // console.log(err)
      })

    },
    onFormSubmit(e) {
      AboutApi.createAboutPage(this.About).then(res => {
        this.$toast.open({ message: "About page Created", position: "top" });
      }).catch(err => {
        this.$toast.open({ message: "There was an error", type:"error", position: "top" });
        // console.log(err)
      })
    },

    onAboutUpdate() {
      AboutApi.updateAboutPage(this.pageId,this.About).then(res => {
          this.About = { ...res.data.about }
           this.$toast.open({ message: "About Page Updated", position: "top" });
      }).catch(err => {
        this.$toast.open({ message: "There was an error", type:"error", position: "top" });
        // console.log(err)
      })
    }
  }
}
</script>

<style scoped lang="scss">
.about {
  img {
    display: 'block';
    height: 250px;
  }
  background: #f3f3f3;
  .row {
    background: #fff;
    padding: -12px;
  
   label {
      letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 500;
          font-size: 0.9em;
          text-transform: capitalize;
    }
    .preposition {
      font-weight: 500;
      font-size: 0.9;
      text-transform: capitalize;
      color: #707070;
      // background: #dddddd;
    }

    .sub_header {
      font-size: 1.2em;
    }
 
    input, textarea {
      background: #fff;
      color: #000;
    }
  
  }
}
  .border {
     padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
  }
  H4 {
    border-radius: 5px;
    text-align: center;

  }
  </style>
