
/**
 *@Description of page: Dashboard Admission page view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template>
  <div id="admission_page">
    
    <h1 class="styleh1">Admission Page Structure</h1>

    <form action="">
      <div class="container">
        <div class="row d-flex">
          <div class="col-sm-12 col-md-6">
             <div class=" border  m-md-5 mb-2 mt-3">
               <h4 class="sub_header mb-3 ">Header</h4>
                <div class="form-group">
                  <h5 for="admission_image">Upload Background Image</h5>
                   <img :src="baseUrl+Admission.headImgUrl" class="img-fluid" alt="">
                   <div class="custom-file">
                      <input @change="onFileUpload" type="file" name="background-image" class="custom-file-input" id="customFileLang" lang="es">
                          <label class="custom-file-label mt-3" for="customFileLang">upload</label>
                  </div>
                </div>
             </div>

            
            <div class="border  m-md-5 mb-2 mt-3">
              <h4 class="sub_header mb-3">Process</h4>
                <div class="form-group">
                  <h5>Intro</h5>
                  <textarea required v-model="Admission.process.intro" cols=""  class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                  <h5 for="apply_desc">Apply Description</h5>
                  <textarea  required v-model="Admission.process.applyText" name="apply_desc" id="apply_desc" cols="" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                  <h5 for="evaluatioin">Evaluation Intro</h5>
                  <textarea required v-model="Admission.process.evaluationText" name="evaluatioin" id="evaluatioin" cols="" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                  <h5 for="admission">Admission Intro</h5>
                  <textarea required v-model="Admission.process.admissionText" name="admission" id="admission" cols="" class="form-control" rows="10"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 ">
            <div class="border m-md-5 mb-2 ">
               <h4 class="sub_header mb-3">Process Elaboration</h4>
                <div class="form-group">
                  <label>Application Proces</label>
                  <vue-editor
                  v-model="Admission.applicationProcessDesc"
                ></vue-editor>
                </div>
                <div class="form-group">
                  <label for="apply_desc">Interview</label>
                   <vue-editor
                  v-model="Admission.interviewDesc"
                ></vue-editor>
                </div>
                <div class="form-group">
                  <label for="evaluatioin">Enroll</label>
                  <vue-editor
                  v-model="Admission.enrollDesc"
                ></vue-editor>
                </div>
                <div class="form-group">
                  <label for="admission">Course Requirement</label>
                   <vue-editor
                  v-model="Admission.courseRequirement"
                ></vue-editor>
                </div>
                
            </div> 
             <div v-if="create" class="border m-md-5 mb-2  form-group">
              <button @click="onFormSubmit" class="btn save" type="submit">Add Data</button>
            </div>
             <div v-else class="border m-md-5 mb-2  form-group">
              <button @click.prevent="onAdmissionUpdate" class="btn save" type="submit">Update Admission</button>
            </div>
        </div>
      </div>
    </div>
    </form>
    
  </div>
</template>

<script>
import axios from 'axios';
import { VueEditor, Quill } from "vue2-editor";
import "vue-toast-notification/dist/theme-default.css";
import AdmissionApi from '@/services/api/AdmissionApi';

export default {
  name: 'Admission_page',
  components: { VueEditor },
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Admission: {
        process: {
          intro: '',
          applyText: '',
          evaluationText: '',
          admissionText: ''
        },
        headImgUrl: '',
        applicationProcessDesc: '',
        interviewDesc: '',
        enrollDesc: '',
        courseRequirement: ''
      },
      create: true,
      pageId: '',
      imageName: '',
    }
  },
    created() {
      AdmissionApi.getAdmissionPage().then(res => {
        if(res.data.admission.length > 0){
          this.create = false
          this.Admission = { ...res.data.admission[0] }
          this.pageId = res.data.admission[0]._id;
        }
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
      })
  },

  methods: {
    onFileUpload(event) {
        this.imageName = event.target.name;
        let img = event.target.files[0];
        let fd = new FormData();

        fd.append('image',img);

        AdmissionApi.photoUpload(fd).then(res => {
        switch(this.imageName){
          case 'background-image':
            this.Admission.headImgUrl = res.data.imgPath;
            this.$toast.open({ message: "Image Uploaded", position: "top" });
            break
        }
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })


    },
    onFormSubmit(e) {
     AdmissionApi.createAdmissionPage(this.Admission).then(res => {
        this.$toast.open({message: "Admission Page Created", position:"top"})
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })
    },

    onAdmissionUpdate(e) {
      AdmissionApi.updateAdmissionPage(this.pageId,this.Admission).then(res => {
        this.$toast.open({message: "Admission Page Updated", position:"top"})
          this.Admission = { ...res.data.admission }
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })
    },
  }
}
</script>
<style scoped lang="scss">
  #admission_page {
  background: #f3f3f3;
  .row {
    background: #fff;
    label {
        letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 500;
          font-size: 0.9em;
          text-transform: capitalize;
    }
    input, textarea {
      background: #fff;
      color: #000;
      
    }
  }
  .border {
    padding: 10px;
    border-radius: 2%;
  }

      .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;

  } 
  .sub_header {
    border-radius: 5px;
  }
  H4 {
    text-align: center;
  }
  }
</style>
