
/**
 *@Description of page: Dashboard contact page view.
 *@author: Donacien
 *@date Date created 15 August 2020
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template>
  <div id="contact_page">
    <h1 class="styleh1">Contact Page Structure</h1>
    <form action="">
            <div class="container">
                <div class="row d-flex">
                  <div class="col-sm-10 col-md-6">
                    <div class="border mb-2 m-lg-5">
                        <div class="form-group">
                          <h4 class="sub_header">Header</h4>
                          <h5 for="admission_image">Upload Background Image</h5>
                            <img :src="baseUrl+Contact.headerImgUrl" class="img-fluid" alt="">
                          <input @change="onFileUpload" type="file" name="contact_image" id="admission_image" class="form-control" placeholder="">
                        </div>
                    </div>
            <div class="border mb-2 m-lg-5">
              <h4 class="sub_header">Contact Form</h4>
                <div class="form-group">
                  <label for="intro">Intro</label>
                  <textarea v-model="Contact.contactIntro" name="intro" id="intro" cols=""  class="form-control" rows=""></textarea>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input v-model="Contact.addressInfo.address" type="text" name="address" id="address" class="form-control">
                </div>

                <div class="form-group">
                  <label for="location">Location</label>
                  <input v-model="Contact.addressInfo.location" type="text" name="location" id="location" class="form-control">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <textarea  v-model="Contact.addressInfo.phone" name="" id="" class="form-control" rows="4"></textarea>
                  <!-- <input v-model="Contact.addressInfo.phone" type="text" name="phone" id="phone" class="form-control"> -->
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input v-model="Contact.addressInfo.email" type="text" name="email" id="email" class="form-control">
                </div>
              </div>
          </div>
          <div class="col-sm-10 col-md-6">
            <div class="border mb-2 m-lg-5">
              <h4 class="sub_header">Extra</h4>
              <label for="contact-intro"></label>
              <textarea v-model="Contact.moreIntro" name="contact-intro" idcontact-intro class="form-control" cols="" rows="">Intro</textarea>
            </div>  
              <div v-if="create" class="border m-md-5 mb-2  form-group">
                 <button @click.prevent="onFormSubmit" class="btn save" type="submit">Save Data</button>
             </div>
              <div v-else class="border m-md-5 mb-2  form-group">
                 <button @click.prevent="onContactUpdate" class="btn save" type="submit">Update Contact</button>
             </div>
           </div>
        </div>
        </div>
     </form>
     
  </div>
</template>

<script>
import axios from 'axios';
import "vue-toast-notification/dist/theme-default.css";
import ContactApi from '@/services/api/ContactApi'

export default {
  name: 'Contact_page',
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Contact: {
        headerImgUrl: '',
        contactIntro: '',
        addressInfo: { 
          address: '',
          location: '',
          phone: '',
          email: ''
        },
        moreIntro: ''
      },
      pageId: '',
      create: true
    }
  },
  created() {
  ContactApi.getContactPage().then(res => {
    if(res.data.contact.length > 0) {
      this.create = false;
      this.pageId = res.data.contact[0]._id;
      this.Contact = { ...res.data.contact[0] };
    }
  }).catch(err => {
    this.$toast.open({message: "There was an error", type:"error", position:"top"});
  })
},
  methods: {
    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
       fd.append('image', img);

      ContactApi.photoUpload(fd).then(res => {
        this.Contact.headerImgUrl = res.data.imgPath;
        this.$toast.open({ message: "Image uploaded", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
      })
    },

    onFormSubmit(e) {
     ContactApi.createContactPage(this.Contact).then(res => {
        this.$toast.open({ message: "Contact Created", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
        console.log(err)
      })
    },

    onContactUpdate() { 
      ContactApi.updateContactPage(this.pageId,this.Contact).then(res => {
          this.Contact = { ...res.data.contact }
          this.$toast.open({ message: "Contact Updated", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
        console.log(err)
      })
    }
  }
}
</script>

<style scoped lang="scss">
#contact_page {
  background: #f3f3f3;
  .row {
    background: #fff;
    border-radius: 2%;
  
   label {
      letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 500;
          font-size: 0.9em;
          text-transform: capitalize;
    }
    .border {
      padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
  }
  }
  h4 {
      text-align: center;
      border-radius: 5px;
        }  
  .sub_header {
      font-size: 1.2em;
        }
  button {
      text-align: center;
      }
  .btn {
      text-align: center;
    }
  }

</style>
