/** *@Description of page: Dashboard Event page view. *@author: Donacien
*@date Date created 15 August 2020 *@contributor : Teke Rene *@contributor :
Bangsi Rene */

<template>
  <div id="event_page">
    <h1 class="styleh1">Event Page Structure</h1>
    <form action="">
      <div class="container">
        <div class="row d-flex">
          <div class="col-sm-10 col-md-6">
            <div class="border mb-2 m-lg-5">
              <div class="form-group">
                <h4 class="sub_header">Header</h4>
                <h5 for="event_image">Upload Background Image</h5>
                <img
                  :src="baseUrl + Event.headerImgUrl"
                  class="img-fluid"
                  alt=""
                />
                <input
                  @change="onFileUpload"
                  type="file"
                  name="event_image"
                  id="event_image"
                  class="form-control"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-md-6">
            <div v-if="create" class="border m-md-5 mb-2  form-group">
              <button
                @click.prevent="onFormSubmit"
                class="btn save"
                type="submit"
              >
                Save Data
              </button>
            </div>
            <div v-else class="border m-md-5 mb-2  form-group">
              <button
                @click.prevent="onEventUpdate"
                class="btn save"
                type="submit"
              >
                Update Event
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import "vue-toast-notification/dist/theme-default.css";
import EventPageApi from "@/services/api/EventPageApi";

export default {
  name: "Event_page",
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Event: {
        headerImgUrl: "",
      },
      pageId: "",
      create: true,
    };
  },
  created() {
    EventPageApi.getEventPage()
      .then((res) => {
        if (res.data.eventsP.length > 0) {
          this.create = false;
          this.pageId = res.data.eventsP[0]._id;
          this.Event = { ...res.data.eventsP[0] };
        }
      })
      .catch((err) => {
        this.$toast.open({
          message: "There was an error",
          type: "error",
          position: "top",
        });
      });
  },
  methods: {
    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append("image", img);

      EventPageApi.photoUpload(fd)
        .then((res) => {
          this.Event.headerImgUrl = res.data.imgPath;
          this.$toast.open({ message: "Image uploaded", position: "top" });
        })
        .catch((err) => {
          this.$toast.open({
            message: "There was an error",
            type: "error",
            position: "top",
          });
        });
    },

    onFormSubmit(e) {
      EventPageApi.createEventPage(this.Event)
        .then((res) => {
          this.$toast.open({ message: "Event Created", position: "top" });
        })
        .catch((err) => {
          this.$toast.open({
            message: "There was an error",
            type: "error",
            position: "top",
          });
          console.log(err);
        });
    },

    onEventUpdate() {
      EventPageApi.updateEventPage(this.pageId, this.Event)
        .then((res) => {
          this.Event = { ...res.data.eventsP };
          this.$toast.open({ message: "Event Updated", position: "top" });
        })
        .catch((err) => {
          this.$toast.open({
            message: "There was an error",
            type: "error",
            position: "top",
          });
          console.log(err);
        });
    },
  },
};
</script>

<style scoped lang="scss">
#event_page {
  background: #f3f3f3;
  .row {
    background: #fff;
    border-radius: 2%;

    label {
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      font-weight: 500;
      font-size: 0.9em;
      text-transform: capitalize;
    }
    .border {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  h4 {
    text-align: center;
    border-radius: 5px;
  }
  .sub_header {
    font-size: 1.2em;
  }
  button {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
}
</style>
