
/**
 *@Description of page: Dashboard contact page view.
 *@author: Donacien
 *@date Date created 15 August 2020
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template>
  <div id="contact_page">
    <h1 class="styleh1">Faq Page Structure</h1>
    <form action="">
            <div class="container">
                <div class="row d-flex">
                  <div class="col-sm-10 col-md-6">
                    <div class="border mb-2 m-lg-5">
                        <div class="form-group">
                          <h4 class="sub_header">Header</h4>
                          <h5 for="admission_image">Upload Background Image</h5>
                            <img :src="baseUrl+FaqPage.headerImgUrl" class="img-fluid" alt="">
                          <input @change="onFileUpload" type="file" name="contact_image" id="admission_image" class="form-control" placeholder="">
                        </div>
                    </div>
            <div class="border mb-2 m-lg-5">
                <h4 class="sub_header">Intro</h4>
                <label for="contact-intro"></label>
                <textarea v-model="FaqPage.faqIntro" name="faq-intro" idcontact-intro class="form-control" cols="" rows=""></textarea>
            </div>
             <div class="border mb-2 m-lg-5">
                <h4 class="sub_header">More Intro</h4>
                <label for="contact-intro"></label>
                <textarea v-model="FaqPage.moreIntro" name="faq-intro" idcontact-intro class="form-control" cols="" rows=""></textarea>
            </div>
          </div>
          <div class="col-sm-10 col-md-6"> 
              <div v-if="create" class="border m-md-5 mb-2  form-group">
                 <button @click.prevent="onFormSubmit" class="btn save" type="submit">Save Page</button>
             </div>
              <div v-else class="border m-md-5 mb-2  form-group">
                 <button @click.prevent="onFaqPageUpdate" class="btn save" type="submit">Update FaqPage</button>
             </div>
           </div>
        </div>
        </div>
     </form>
     
  </div>
</template>

<script>
import axios from 'axios';
import "vue-toast-notification/dist/theme-default.css";
import FaqPageApi from '@/services/api/FaqPageApi'

export default {
  name: 'Faq_page',
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      FaqPage: {
        headerImgUrl: '',
        faqIntro: '',
        moreIntro: ''
      },
      pageId: '',
      create: true
    }
  },
  created() {
  FaqPageApi.getFaqPage().then(res => {
    if(res.data.faqPage.length > 0) {
      this.create = false;
      this.pageId = res.data.faqPage[0]._id;
      this.FaqPage = { ...res.data.faqPage[0] };
    }
  }).catch(err => {
    this.$toast.open({message: "There was an error", type:"error", position:"top"})
  })
},
  methods: {
    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
       fd.append('image', img);

      FaqPageApi.photoUpload(fd).then(res => {
        this.FaqPage.headerImgUrl = res.data.imgPath;
        this.$toast.open({ message: "Image uploaded", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })
    },

    onFormSubmit(e) {
     FaqPageApi.createFaqPage(this.FaqPage).then(res => {
        this.$toast.open({ message: "FaqPage Created", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })
    },

    onFaqPageUpdate() { 
      FaqPageApi.updateFaqPage(this.pageId,this.FaqPage).then(res => {
          
          this.FaqPage = { ...res.data.faqPage }
          this.$toast.open({ message: "FaqPage Updated", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position:"top"});
      })
    }
  }
}
</script>

<style scoped lang="scss">
#contact_page {
  background: #f3f3f3;
  .row {
    background: #fff;
    border-radius: 2%;
  
   label {
      letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 500;
          font-size: 0.9em;
          text-transform: capitalize;
    }
    .border {
      padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
  }
  }
  h4 {
      text-align: center;
      border-radius: 5px;
        }  
  .sub_header {
      font-size: 1.2em;
        }
  button {
      text-align: center;
      }
  .btn {
      text-align: center;
    }
  }

</style>
