
/**
 *@Description of page: Dashboard Home page view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene,Dzekewong Karlson
 */
 
<template>
 <div class="home">
   <h1 class="styleh1">Home Page Structure</h1>
    <form>
      <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="border mb-2 m-lg-5">
          <div class="form-group">
            <h4 class="sub_header m3">Home Background</h4>
              <label for="bg-video">Background Youtube Video ID</label>
            <input type="text" v-model="Home.header.videoUrl" name="bg-video" class="form-control" placeholder="Youtube Video Id">
          </div>
          <div class="form-group">
            <label for="home-intro">Home Text</label>
            <textarea v-model="Home.header.intro" name="home-intro" id="" cols="" rows="" class="form-control">Home Intro Text</textarea>
          </div>
        </div>
      <div class="border m-md-5 mb-2">
        <h4 class="sub_header">services</h4>
            <div class="mt-3 form-group">
              <label for="intro">Intro Text</label>
              <textarea v-model="Home.training.intro" name="intro" id="" cols="" class="form-control" rows=""></textarea>
            </div>
      </div>

      <div class="border mb-2 m-lg-5">
        <h4 class="sub_header">About Students</h4>
          <div class="form-group">
            <label for="image">Intro Text</label>
            <textarea v-model="Home.aboutStudent.intro" name="intro" id="" cols="" class="form-control" rows="">Intro</textarea>
          </div>
          <div class="col-md-12">
             <label for="">Background Image</label>
            <div class="custom-file">
               <input type="file" name="about-stu-back-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang">upload</label>
            </div>
             <label for="">Main image:</label>
            <div class="custom-file">
               <input type="file" name="about-stu-main-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang">upload</label>
            </div>

            <label for="">Top image: </label>
            <div class="custom-file">
              <input type="file" name="about-stu-top-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                 <label class="custom-file-label" for="customFileLang">upload</label>
            </div>

            <label for="">Bottom image:</label>
            <div class="custom-file">
               <input type="file" name="about-stu-bottom-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang">upload</label>
            </div>
          </div>
      </div>

      <div class="border mb-2 m-lg-5">
        <h4 class="sub_header mt-3">Value Proposition</h4>
            <div class=" form-group">
              <label >Intro Text</label>
              <textarea v-model="Home.valueProposition.intro" name="intro" id="" cols="" class="form-control" rows="">Intro</textarea>
            </div>


        <div>
            <div class="col-md-12 col-sm-12">
                <h3 class="mt-2">Block A</h3>
               <label for="">Main image:</label>
                <div class="custom-file">
                  <input type="file" name="value-a-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label" for="customFileLang">upload</label>
                </div>
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" v-model="Home.valueProposition.blockA.title" name="blockA-title" class="form-control" placeholder="">
                </div>
                 <div class="form-group">
                   <label for="description">Description</label>
                   <textarea v-model="Home.valueProposition.blockA.description" name="" id="" cols="" class="form-control" rows=""></textarea>
                 </div>
            </div>
          </div>

          <div>
            <div class="col-md-12 col-sm-12">
                <h3 class="">Block B</h3>
                <label for="">Main image:</label>
            <div class="custom-file">
               <input type="file" name="value-b-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang">upload</label>
            </div>
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" v-model="Home.valueProposition.blockB.title" name="blockB-title" class="form-control" placeholder="">
                </div>
                 <div class="form-group">
                   <label for="description">Description</label>
                   <textarea v-model="Home.valueProposition.blockB.description" name="blockB-description" id="" cols="" class="form-control" rows=""></textarea>
                 </div>
            </div>
        </div>
      <div> 
        <div class="col-md-12 col-sm-12">
                <h3 class="">Block C</h3>
                <label for="">Main image:</label>
                <div class="custom-file">
                  <input type="file" name="value-c-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label" for="customFileLang">upload</label>
                </div>
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" v-model="Home.valueProposition.blockC.title" name="blockC-title" class="form-control" placeholder="">
                </div>
                 <div class="form-group">
                   <label for="description">Description</label>
                   <textarea v-model="Home.valueProposition.blockC.description" name="blockC-description" id="" cols="" class="form-control" rows=""></textarea>
                 </div>
            </div>
        </div>
        </div>
      </div>

        <div class="col-md-6">
          <div class="border mb-2 m-lg-5">
            <h4 class="sub_header">About MIA</h4>
              <div class=" form-group">
                <label for="image">Intro Text</label>
                <textarea v-model="Home.aboutAcademy.intro" name="intro" id="" cols="" class="form-control" rows="">Intro</textarea>
              </div>
                <div class="col-md-12">
                  <label for="">Background Image</label>
                    <div class="custom-file">
                      <input type="file" name="about-aca-back-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                          <label class="custom-file-label" for="customFileLang">upload</label>
                    </div>
                <label for="">Main image:</label>
                  <div class="custom-file">
                      <input type="file" name="about-aca-main-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                          <label class="custom-file-label" for="customFileLang">upload</label>
                  </div>

                <label for="">Bottom image: </label>
                  <div class="custom-file">
                    <input type="file" name="about-aca-bottom-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang">upload</label>
                  </div>
                </div>
          </div> 

          <div class="border mb-2 m-lg-5">
            <h4 class="sub_header ">Testimonial</h4>
                <div class="col-md-12">
                  <label for="">Background Image</label>
                    <div class="custom-file">
                      <input type="file" name="test-back-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                          <label class="custom-file-label" for="customFileLang">upload</label>
                    </div>
                  <label for="admin_text">Intro Text</label>
                    <input v-model="Home.testimonials.subtitle" type="text" name="testimonial-intro" class="form-control" placeholder="SubTitle">
                </div>
          </div>

          <div class="border mb-2 m-lg-5">
            <h4 class="sub_header ">Admission</h4>
                <div class="col-md-12">
                  <label for="admin_text">Intro Text</label>
                  <textarea v-model="Home.admission.intro" name="admission-intro" id="" cols="" class="form-control" rows="">Intro</textarea>
                </div>
          </div>

          <div class="border mb-2 m-lg-5">
            <h4 class="sub_header">Achievements</h4>
                <div class="col-md-12">
                  <label for="">Background Image</label>
                    <div class="custom-file">
                      <input type="file" name="achieve-back-image" @change="onFileUpload" class="custom-file-input" id="customFileLang" lang="es">
                          <label class="custom-file-label" for="customFileLang">upload</label>
                    </div>
                  <label for="admin_text">Intro Text</label>
                  <textarea v-model="Home.achievements.intro" name="acheievement" id="" cols="" class="form-control" rows="">Intro</textarea>
                </div>
                <div class="timing col-md-12">
                    Active Courses: <input type="number" v-model="Home.achievements.activeCourse" name="active-courses" class="form-control" placeholder="">

                    Active students: <input type="number" v-model="Home.achievements.activeStudents" name="active-student" class="form-control" placeholder="">

                    Experts Teachers: <input type="number" v-model="Home.achievements.activeTeachers" name="expert-teacher" class="form-control" placeholder="">

                    Awards: <input type="number" v-model="Home.achievements.awards" name="awards" class="form-control" placeholder="">
                </div>
          </div>

           <div class="border m-md-5 mb-2">
        <h4 class="sub_header">Latest News</h4>
            <div class="mt-3 form-group">
              <label for="intro">Intro Text</label>
              <textarea v-model="Home.latestNews.intro" name="latest-news-intro" id="" cols="" class="form-control" rows=""></textarea>
            </div>
      </div>
          
          <div v-if="create" class="border mb-2 m-lg-5 pb-0">
            <div class="form-group">
                <button @click.prevent="onFormSubmit" type="submit" class="btn save">Create Page</button>
            </div>
          </div>
           <div v-else class="border mb-2 m-lg-5 pb-0">
            <div class="form-group">
                <button @click.prevent="onHomeUpdate" type="submit" class="btn save">Update Page</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </form>
 </div>
</template>

<script>
import axios from 'axios';
import HomeApi from '@/services/api/HomeApi'
import "vue-toast-notification/dist/theme-default.css";

export default {
  name: 'Breadcrumbs',
  data(){
    return {
      Home: {
        header: {
          videoUrl: '',
          intro: '',
        },
        training: {
          intro: ''
        },
        aboutStudent: {
          intro: '',
          backPicUrl: '',
          mainPicUrl: '',
          topPicUrl: '',
          botPicUrl: ''
        },
        valueProposition: {
          intro: '',
          blockA: {
            imgUrl: '',
            title: '',
            description: ''
          },
          blockB: {
            imgUrl: '',
            title: '',
            description: ''
          },
          blockC: {
            imgUrl: '',
            title: '',
            description: ''
          }
        },
        aboutAcademy: {
          intro: '',
          backPicUrl: '',
          mainPicUrl: '',
          botPicUrl: ''
        },
        testimonials: {
          backPicUrl: '',
          subtitle: '',
        },
        admission: {
          intro: '',
        },
        achievements: {
          intro: '',
          backPicUrl: '',
          activeCourse: 0,
          activeStudents: 0,
          activeTeachers: 0,
          awards: 0
        },
        latestNews: {
          intro: ''
        }
      },
      imageName: '',
      pageId: '',
      create: true
    }
  },
  created() {
      HomeApi.getHome().then(home => {
        if(home.length > 0){
          this.create = false
          this.Home = { ...home[0] }
          this.pageId = home[0]._id;
         
        }
      }).catch(err => {
        console.log(home)
      })
  },
  methods: {
    onFileUpload (event) {
      this.imageName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image', img);
      HomeApi.fileUpload(fd).then(res => {
        switch(this.imageName){
        case 'about-stu-back-image':
          this.Home.aboutStudent.backPicUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'about-stu-main-image':
          this.Home.aboutStudent.mainPicUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'about-stu-bottom-image':
          this.Home.aboutStudent.botPicUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'about-stu-top-image':
          this.Home.aboutStudent.topPicUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'value-a-image':
          this.Home.valueProposition.blockA.imgUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'value-b-image':
          this.Home.valueProposition.blockB.imgUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'value-c-image':
          this.Home.valueProposition.blockC.imgUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'about-aca-back-image':
          this.Home.aboutAcademy.backPicUrl;
          this.$toast.open({message: "Image Uploaded", position: "top"});
          break;
        case 'about-aca-main-image':
          this.Home.aboutAcademy.mainPicUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'about-aca-bottom-image':
          this.Home.aboutAcademy.botPicUrl= res.data.imgPath;
          this.$toast.open({ message: "Image Uloaded", position: "top" });
          break;
        case 'test-back-image':
          this.Home.testimonials.backPicUrl;
          this.$toast.open({message: "Image Uploaded", position: "top"});
          break
        case 'achieve-back-image':
          this.Home.achievements.backPicUrl;
          this.$toast.open({message:"Image Uploaded", position: "top"});
          break;
      }
      }).catch(err => {
        this.$toast.open({message: "There was an error ", type:"error", position: "top"})
        console.log(err)
      })
    },

    onFormSubmit(e) {
      console.log(this.Home)
      HomeApi.insertHome(this.Home).then(res => {
         this.$toast.open({ message: "Home Page Created", position: "top" });
          window.location.reload();
      }).catch(err => {
        this.$toast.open({message: "There was an error ", type:"error", position: "top"})
        console.log(err)
      })
    },

    onHomeUpdate(e) {
        HomeApi.updateHome(this.pageId,this.Home).then(homeUpdate => {
           this.Home = { ...homeUpdate }
           this.$toast.open({ message: "Home Page Updated", position: "top" });
        }).catch(err => {
          this.$toast.open({message: "There was an error ", type:"error", position: "top"})
          console.log(err)
        })
    }
  }
}

</script>

<style scoped lang="scss"> 
.home {
  background-color: #f3f3f3;

  h4 {
    
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: none;
  }

  h3 {
    
    text-align: left;
    padding: 10px;
    color: #08635d;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
  }
  .timing {
     letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 500;
          font-size: 0.9em;
          text-transform: capitalize;
  }
  label {
      letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-weight: 400;
          font-size: 0.9em;
          text-transform: capitalize;
    }
  
    .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;

  }
  input textarea {
      background: #fff;
      color: #000;
    }
}
</style>
