<template>
	<section class="login-section">
		<div class="overlay-filter"></div>
		<div class="contain container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<img src="../../assets/images/logo.png" class="brand_logo" alt="Logo">
						</div>
					</div>
					<div class="d-flex justify-content-center form_container">
						<form>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input v-model="Details.email" type="email" required name="" class="form-control input_user" value="" placeholder="Email">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input v-model="Details.password" required type="password" name="" class="form-control input_pass" value="" placeholder="Password">
							</div>
							<div v-if="isLoading" class="d-flex justify-content-center">
								<div class="spinner-grow text-primary" role="status">
									<span class="sr-only">Loading...</span>
									</div>
									<div class="spinner-grow text-secondary" role="status">
									<span class="sr-only">Loading...</span>
									</div>
									<div class="spinner-grow text-success" role="status">
									<span class="sr-only">Loading...</span>
									</div>
							</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<button @click="login" type="button" name="button" class="btn login_btn">Login</button>
							</div>
						</form>
					</div>
			
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							<router-link to="/auth/forgot_password">Forgot your password?</router-link>
							<!-- <a href="#">Forgot your password?</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import "vue-toast-notification/dist/theme-default.css";
export default {
  name: 'Login',
  data() {
	  return {
		  Details: {
			  email: '',
			  password: ''
		  },
		  isLoading: false,
		  showBtn: true
	  }
  },

  methods: {
	  login: function() {
      this.isLoading = true;
      this.showBtn = false;
      this.$store
        .dispatch("login", this.Details)
        .then(() => {
          this.isLoading = true;
          this.showBtn = false;
          this.$toast.open({
            message: "Auth successful!",
			position: 'top'
          });
          this.$router.push("/dashBoard");
        })
        .catch((err) => {
          this.$toast.open({
            message: "Auth fail! try again",
			type: "error",
			position: 'top'
          });
          this.isLoading = false;
          this.showBtn = true;
        });
    },
  }
}
</script>
 
 <style scoped lang="scss">
	.login-section {
		background: linear-gradient(rgb(8 99 93 / 85%), rgb(247 150 35 / 70%)), url('../../assets/images/seven-advanced-academy-login-background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
		width: 100%;

		overflow: hidden;


		.user_card {
			height: 32em;
			width: 37em;
			margin-top: 12em;
			margin-bottom: auto;
			background: rgb(243 243 243 / 50%);
			border: 1px solid #064440;
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			.links {
				a {
					color: #08635d;
				}
			}
		}
		.brand_logo_container {
			position: absolute;
			height: 190px;
			width: 190px;
			top: -75px;
			border-radius: 50%;
			background: rgb(8 99 93 / 45%);
			border: 1px solid #064440;
			padding: 10px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 0px 10px 1px #f3f3f3;
			backdrop-filter: blur(3.5px);
		}
		.brand_logo {
			height: 100px;
			width: 150px;
			object-fit: contain;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background:  #08635d !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background:  #F79623 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color:  #08635d!important;
		}
	}
 </style>