<template>
	<section class="login-section">
		<div class="overlay-filter"></div>
		<div class="contain container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<img src="../../assets/images/logo.png" class="brand_logo" alt="Logo">
						</div>
					</div>
            <h1 class="text-center passwordh1">Reset Password</h1>

					<div class="d-flex justify-content-center form_container">
						<form>
							<div class="input-group mb-3">
                
								<div class="input-group-append">
                  
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input v-model="Detail.newPassword" type="password" name="" class="form-control input_user" value="" placeholder="Password">
							</div>
						 	<div class="input-group">
                
								<div class="input-group-append">
                  
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input v-model="Detail.verifyPassword" type="password" name="" class="form-control input_user" value="" placeholder="Confirm Password">
							</div>
							<div v-if="isLoading" class="d-flex justify-content-center">
								<div class="spinner-grow text-primary" role="status">
									<span class="sr-only">Loading...</span>
									</div>
									<div class="spinner-grow text-secondary" role="status">
									<span class="sr-only">Loading...</span>
									</div>
									<div class="spinner-grow text-success" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
							<div class="d-fle justify-content-center mt-3 login_container">
						    <button @click.prevent="onPasswordReset" type="button" name="button" class="btn d-block login_btn"> Reset Password</button>
							<br>
							<center><router-link :to="{name: 'Login'}" class="text-center">Login</router-link></center>
					  		</div>
							
						</form>
					</div>
			
					<div class="mt-4">
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import "vue-toast-notification/dist/theme-default.css";
import api from '../../api'

export default {
  name: 'ResetPassword',
  data() {
	  return {
		  Detail: {
			  newPassword: '',
			  verifyPassword: ''
		  },
		  isLoading: false
	  }
  },

  methods: {
	  onPasswordReset() {
		  this.isLoading = true;
		  api.post(`/reset_password?token=${this.$route.query.token}`,this.Detail).then(res => {
			   this.isLoading = false;
			   this.$toast.open({message: "Password Changed Successfully", position: "top"});
			   this.Detail.newPassword = '';
			   this.Detail.verifyPassword = '';
		  }).catch(err => {
			  this.isLoading = false;
			  this.$toast.open({message: "There was an error", type: "error", position: "top"});
			  this.Detail.newPassword = '';
			  this.Detail.verifyPassword = '';
		  })
	  }
  }
}
</script>
 
 <style scoped lang="scss">
	.login-section {
		background: linear-gradient(rgb(8 99 93 / 85%), rgb(247 150 35 / 70%)), url('../../assets/images/seven-advanced-academy-login-background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
		width: 100%;

		overflow: hidden;


		.user_card {
			height: 32em;
			width: 37em;
			margin-top: 12em;
			margin-bottom: auto;
			background: rgb(243 243 243 / 50%);
			border: 1px solid #064440;
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			.links {
				a {
					color: #08635d;
				}
			}
		}
		.brand_logo_container {
			position: absolute;
			height: 190px;
			width: 190px;
			top: -75px;
			border-radius: 50%;
			background: rgb(8 99 93 / 45%);
			border: 1px solid #064440;
			padding: 10px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 0px 10px 1px #f3f3f3;
			backdrop-filter: blur(3.5px);
		}
		.brand_logo {
			height: 100px;
			width: 150px;
			object-fit: contain;
		}
		.form_container {
			margin-top: 50px;
		}
		.login_btn {
			width: 100%;
			background:  #08635d !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background:  #F79623 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
    .passwordh1 {
      margin-top: 3rem;
      color: #08635d;
      font-size: 1.5em;
    }
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color:  #08635d!important;
		}
	}
 </style>