
/**
 *@Description of page: Dashboard contact page view.
 *@author: Donacien
 *@date Date created 15 August 2020
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template>
  <div id="contact_page">
    <h1 class="styleh1">GLOBAL SEO</h1>
    <form action="">
      <div class="container">
        <div class="row d-flex">
          <div class="col-sm-10 col-md-6">
            <div class="border mb-2 m-lg-5">
              <h4 class="sub_header">Main Meta Info</h4>
              <div>
                <label for="">Keywords</label>
                <input
                  type="text"
                  name=""
                  v-model="SEO.globalMeta.keyWords"
                  class="form-control"
                  placeholder="Comma Seperated"
                  id=""
                />
              </div>
              <div class="mt-2">
                <label for="contact-intro">Description</label>
                <textarea
                  name="intro"
                  idcontact-intro
                  class="form-control"
                  v-model="SEO.globalMeta.content"
                  cols=""
                  rows=""
                >
                </textarea>
              </div>
            </div>
            <div class="border mb-2 m-lg-5">
              <h4 class="sub_header">Twitter Card</h4>
              <div>
                <label for="sitetitle">Site Title</label>
                <input
                  type="text"
                  id="sitetitle"
                  v-model="SEO.twitterCard.siteTitle"
                  class="form-control"
                  placeholder="Site Title"
                />
              </div>
              <div class="mt-2">
                    <label>Title</label>
                    <input
                    type="text"
                    placeholder="Twitter Title"
                    class="form-control"
                    v-model="SEO.twitterCard.twitterTitle"
                    />
              </div>
                  <div class="mt-2">
                    <label>Creator</label>
                    <input
                    type="text"
                    placeholder="Twitter Title"
                    class="form-control"
                    v-model="SEO.twitterCard.twitterCreator"
                    />
              </div>
              <div class="mt-2">
                <label for="twitterdesc">Description</label>
                <textarea
                  name="faq-intro"
                  v-model="SEO.twitterCard.twitterDescription"
                  id="twitterdesc"
                  class="form-control"
                  cols=""
                  rows=""
                ></textarea>
              </div>
              <div class="mt-2">
                <label for="twitterimg">Image</label>
                <input type="file" @change="onFileUpload" name="twitter-image" class="form-control" id="twitterimg" />
                 <img :src="baseUrl+SEO.twitterCard.twitterImageUrl" class="img-fluid" alt="">
              </div>
            </div>
            <div class="border mb-2 m-lg-5">
              <h4 class="sub_header">Open Graph Card</h4>
              <div>
                <label for="opentitle">Title</label>
                <input
                  type="text"
                  id="opentitle"
                  class="form-control"
                  v-model="SEO.openGraphCard.openGraphTitle"
                  placeholder="Open Graph Title"
                />
              </div>
              <div class="mt-2">
                    <label for="opendesc">Description</label>
                    <textarea
                    name="faq-intro"
                    id="opendesc"
                    class="form-control"
                    v-model="SEO.openGraphCard.openGraphDescription"
                    cols=""
                    rows=""
                    ></textarea>
              </div>
              <div class="mt-2">
                    <label for="openimg">Image</label>
                    <input type="file" @change="onFileUpload" name="open-image" class="form-control" id="openimg" />
                    <img :src="baseUrl+SEO.openGraphCard.openGraphImageUrl" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-md-6">
            <div v-if="create" class="border m-md-5 mb-2 form-group">
              <button
                @click.prevent="onFormSubmit"
                class="btn save"
                type="submit"
              >
                Save SEO
              </button>
            </div>
            <div v-else class="border m-md-5 mb-2 form-group">
              <button
                @click.prevent="onSeoUpdate"
                class="btn save"
                type="submit"
              >
                Update SEO
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import "vue-toast-notification/dist/theme-default.css";
import SeoApi from "@/services/api/SeoApi";
export default {
  name: "Seo_page",
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      SEO: {
        globalMeta: {
            content: "",
            keyWords: ""
        },
        twitterCard: {
            siteTitle: "",
            twitterTitle: "",
            twitterDescription: "",
            twitterCreator: "",
            twitterImageUrl: ""
        },
        openGraphCard: {
            openGraphTitle: "",
            openGraphDescription: "",
            openGraphImageUrl: ""
        }
      },
      pageId: "",
      imageName: "",
      create: true,
    };
  },
  created() {
     SeoApi.getSeo().then(res => {
         if(res.data.length > 0){
             this.create = false;
         }

         this.SEO = {...res.data[0]}
         this.pageId = res.data[0]._id;
     })
  },
  methods: {
     onFileUpload (event) {
      this.imageName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image', img);
      SeoApi.photoUpload(fd).then(res => {
        switch(this.imageName){
        case 'twitter-image':
          this.SEO.twitterCard.twitterImageUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uploaded", position: "top" });
          break;
        case 'open-image':
          this.SEO.openGraphCard.openGraphImageUrl = res.data.imgPath;
          this.$toast.open({ message: "Image Uploaded", position: "top" });
          break;
      }
      }).catch(err => {
        this.$toast.open({message: "There was an error ", type:"error", position: "top"})
        console.log(err)
      })
    },

    onFormSubmit(e) {
      SeoApi.addSeo(this.SEO).then(res => {
          console.log(res);
           this.$toast.open({message: "SEO Added Successfuly", position: "top"})
      }).catch(err => {
          this.$toast.open({message: "There was an error", type: "error", position: "top"})
      })
    },

    onSeoUpdate() {
      SeoApi.updateSeo(this.pageId,this.SEO).then(res => {
          console.log(res);
          this.$toast.open({message: "SEO Updated Successfuly", position: "top"})
      })
    },

  },
};
</script>

<style scoped lang="scss">
#contact_page {
  background: #f3f3f3;
  .row {
    background: #fff;
    border-radius: 2%;

    label {
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      font-weight: 500;
      font-size: 0.9em;
      text-transform: capitalize;
    }
    .border {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  h4 {
    text-align: center;
    border-radius: 5px;
  }
  .sub_header {
    font-size: 1.2em;
  }
  button {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
}
</style>
