<template>
    <div class="container">
        <h1 class="text-center">Welcome To Model Initiative of Africa</h1>
    </div>
</template>

<script>
import { CChartLineSimple, CChartBarSimple } from '../charts/index.js'

export default {
  name: 'WidgetsDropdown',
  components: { CChartLineSimple, CChartBarSimple }
}
</script>
