<template v-slot:default>
  <div>
    <h1 class="styleh1">All Posts</h1>
    <v-simple-table dense>
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th class="text-left">Category</th>
             <th class="text-left">Author</th>    
             <th class="text-left">createdAt</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in posts" :key="item._id">

          <td>{{ item.title }}</td>
           <td>{{ item.catergories.name }}</td>
                   <td>{{ item.author }}</td>
          <td>{{ item.createdAt }}</td>
     
          <!-- <td>{{ item.photo }}</td> -->
          <td>
            <button class="btn bg-danger" @click="deletePost(item._id)">
              <i class="fa fa-trash-o text-light" aria-hidden="true"></i>
            </button>
            <button class="btn bg-info ml-3" @click="edit(item.slug)">
              <i class="text-light fa fa-pencil " aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
  </div>
</template>

<script>
import axios from "axios";
import api from "../../api";
export default {
  name: "Allpost",
  data() {
    return {
      posts: [],
    };
  },
  created: function() {
    api.get("/blog").then((res) => {
      this.posts = res.data;
    });
  },
  methods: {
    edit: function(slug) {
      this.$router
        .push({
          path: `/posts/edit/${slug}`,
          slug: slug,
          params: { slug: slug },
        })
        .catch(() => {});
    },

    deletePost: function(id) {
      api.delete(`/blog`, { params: { id: id } }).then((res) => {
        let filtered = this.posts.filter((item) => {
          return item._id != id;
        });
        this.posts = filtered;
      });
    },
  },
};
</script>
<style scoped lang="scss">
.btn {
  margin-bottom: 4px;
  margin-right: 6px;
}
</style>
