<template>
  <modal name="edit" :height="'auto'" :scrollable="true" :draggable="true">
    <div class="card">
      <form action>
        <div class="border1 contain1 headers mb-2 m-lg-5">
          <h4 class="c-info">edit Category</h4>
          <div class="form-group">
            <label for="title">Name</label>
            <input
              required
              type="text"
              v-model="data.name"
              class="form-control"
              name="title"
              placeholder="name"
            />
          </div>
          <div class="form-group">
            <label for="title">Color</label>
            <input
              required
              type="text"
              class="form-control"
              v-model="data.color"
              name="title"
              placeholder="Color"
            />
          </div>
          <div class="form-group">
            <label for="except">Description</label>
            <textarea
              required
              name="section1"
              class="form-control"
              id
              cols="3"
              v-model="data.desc"
              placeholder="Description"
              rows
            ></textarea>
          </div>

          <div class="form-group">
            <label for="except">Keywords</label>
            <textarea
              required
              name="section1"
              class="form-control"
              v-model="data.keywords"
              id
              cols="3"
              placeholder="Keyword"
              rows
            ></textarea>
          </div>
          <button type class="btn save mr-3" @click.prevent="save">Save</button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
import axios from "axios";
export default {
  props: ["data"],
  data() {
    return {
      catergories: [],
      baseUrl: process.env.VUE_APP_API_BASE_URL,
    };
  },
  methods: {
    save: function() {
      console.log(this.data);
      axios({
        url: `${this.baseUrl}/blogcatergory`, //https://sevenaaa-api.herokuapp.com/blogcatergory",
        method: "PATCH",
        params: { id: this.data._id },
        data: this.data,
      })
        .then((result) => {
          if (result.data.message) {
            this.$toast.open({ message: "Category Edited", position: "top" });
          }
        })
        .catch((err) => {
          // console.log(err);
        });
    },
  },
};
</script>

<style></style>
