<template>
  <div>
    <h1 class="styleh1 m-0">Edit Post</h1>
    <form action>
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-8">
            <div class="border m-md-5 mb-2">
              <div class="form-group">
                <label for="title">Title</label>
                <input
                  required
                  type="text"
                  name="title"
                  v-model="blog.title"
                  class="form-control"
                  placeholder="Title"
                />
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <vue-editor
                  id="editor"
                  useCustomImageHandler
                  @image-added="handleImageAdded"
                  v-model="blog.data"
                  :editorOptions="editorSettings"
                ></vue-editor>
              </div>
            </div>
            <div class="border m-md-5 mb-2">
              <div class="form-group">
                <label for="except">Except</label>
                <textarea
                  name="except"
                  class="form-control"
                  id="except"
                  cols
                  rows="3"
                  placeholder="Except"
                  v-model="blog.desc"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="except">Key Words</label>
                <textarea
                  name="keywords"
                  class="form-control"
                  id="keywords"
                  cols
                  rows="3"
                  v-model="blog.keywords"
                  placeholder="Keywords"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="except">View count</label>
                <input
                  required
                  name="except"
                  class="form-control"
                  id="viewCount"
                  v-model="blog.viewCount"
                  type="number"
                />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="border m-md-5 mb-2">
                   <legend>Category: <span style="color: #f44336;">{{blog.catergories.name}}</span></legend>
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1"> select</label>
                <select class="form-control" id="exampleFormControlSelect1" @change="selectCategory($event)">
                  <option  v-for="category in catergories"
                :key="category._id" :value="category._id">{{ category.name }}</option>
                </select>
              </div>
            </form>
            <hr class="s-solid" />
            <!-- 
              <div class="radio-btn-group">
                <span class="radio" v-for="category in catergories" :key="category._id">
                  <input type="radio" name="e" v-model="checked" />
                  <label for="click_me" @click="categoryCheck(category._id)">{{category.name}}</label>
                </span>
              </div> -->
            </div>

            <div class="border m-md-5 mb-2">
              <div class="form-group">
                <label class="feature-img" for="upload">Featured Image</label>

                <hr class="s-solid" />
                <input type="file" @change="onFileUpload" class="form-control mt-3" />
                <img
                  :src="baseUrl+blog.featuredImg"
                  alt
                  v-if="featuredStatus"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="border m-md-5 mb-2">
              <h4 class="sub_head">Save/Publish</h4>

              <hr class="s-solid" />
              <div class="form-group">
                <button class="btn mr-3" @click.prevent="save">Save</button>
                <span>Publish</span>
                <div class>
                  <label class="switch">
                    <input type="checkbox" v-model="status" @change="published()" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { VueEditor, Quill } from "vue2-editor";

import ImageResize from "quill-image-resize";
import { ImageDrop } from "quill-image-drop-module";
import api from '../../api';
import "vue-toast-notification/dist/theme-default.css";

Quill.register("modules/imageDrop", ImageDrop);
Quill.register("modules/imageResize", ImageResize);

import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import { ToggleButton } from "vue-js-toggle-button";
import axios from "axios";
export default {
  name: "editPost",
  components: { VueEditor, toggle: ToggleButton },
  props: ["id"],
  data() {
    return {
      checked: null,
      featuredStatus: true,
        isActive: false,
      blog: {
        title: "",
        id: "",
        images: [],
        catergories: "",
        viewCount: "",
        keywords: "",
        desc: "",
        featuredImg: "",
        published: false,
        data: "",
      },
      status: false,
      catergories: [],
      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {},
        },
      },
      baseUrl: process.env.VUE_APP_API_BASE_URL,
    };
  },
  methods: {
    published: function () {
      this.blog.published = this.status;
    },
    onFileUpload(event) {
      this.imageName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append("image", img);
      api
        .post("/upload", fd, {
          headers: {
            "Content-Type": "multipart/form-data",
            photolocation: "featured",
          },
        })
        .then((res) => {
          this.blog.featuredImg = res.data.imgPath;
          this.featuredStatus = true;
          this.$toast.open({ message: "Image uploaded", position: "top" });
        })
        .catch((err) => {
          // console.log(err);
        });
    },
    handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)

      var formData = new FormData();
      formData.append("image", file);

      api.post( "/image", formData,{
      })
        .then((result) => {
          this.blog.images.push(result.data.file.url);
          let url = result.data.file.url; // Get url from response
          Editor.insertEmbed(cursorLocation, "image", url);
          resetUploader();
        })
        .catch((err) => {
          // console.log(err);
        });
    },
    save: function () {
      api.patch("/blog",this.blog,{
        params: { id: this.blog._id },
      })
        .then((result) => {
           this.$toast.open({ message: "Post Saved", position: "top" });
        })
        .catch((err) => {
          // console.log(err);
        });
    },
    categoryCheck: function (id) {
      this.isActive = true;
      this.blog.catergories = id;
      this.$toast.open({ message: "Catergory Selected", position: "top" });
    },
        selectCategory: function(ev) {
      this.isActive = true;
      this.blog.catergories = ev.target.value;
      this.$toast.open({ message: "Catergory Selected", position: "top" });
    },
  },
  created: function () {
    api.get(`/blog/${this.$props.id}`,{
    }).then((result) => {
        this.blog = result.data;
        console.log(this.blog)
        this.status = result.data.published;
      })
      .catch((err) => {
        // console.log(err);
      });
    // getting all categories
    api.get(`/blogcatergory`,{
    })
      .then((result) => {
        this.catergories =  result.data;
      })
      .catch((err) => {
        // console.log(err);
      });
  },
  mounted: function () {

  },
};
</script>

<style scoped lang="scss">
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 10em;
  margin: 1%;
}
.category-overflow {
  height: 8em !important;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.row {
  background: #fff;
  padding: -12px;
}

.form-group {
  margin-top: 10px;

  button:first-child {
    background: #fff;
    color: #08635d;
    border-radius: 5px;
    border: 2px solid #08635d;
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 1em;
  }

  button:first-child:hover {
    color: white;
    background: #08635d;
    font-weight: 700;
    transition: 0.7s;
  }
}
form {
  legend {
    font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
  }
  .feature-img {
    font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
  }
  .sub_head {
    font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
  }

  .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
  }
  label {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .form-group {
    button:first-child {
      background: #fff;
      color: #08635d;
      border-radius: 5px;
      border: 2px solid #08635d;
      font-size: 1.3em;
      width: 100%;
      margin-bottom: 1em;
    }
  }
  input,
  textarea {
    box-shadow: 0px 2px 3px #00000029;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
  }

  .border:hover {
    background: #00ffff01;
  }
}
fieldset {
  line-height: 1.9em;
  display: block;
  font-size: 18px;
  font-weight: 500;

  input {
    margin: 20px 20px 0px 0px;
  }
}

.radio-btn-group {
  display: flex;

  .radio {
    margin: 0 0.25rem;

    label {
      background: #fff;
      border: 1px solid #ddd;
      padding: 0.5rem 1.25rem;
      border-radius: 5px;
      cursor: pointer;
      color: #444;
      transition: box-shadow 400ms ease;

      &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);
      }
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      background: #2196f3;
      color: #fff;
      border-color: #2196f3;
    }
    input[type="radio"] + label {
      background: white;
      color: #2196f3;
      border-color: #2196f3;
    }
  }
}

// other styles
.show {
  font-weight: 400;
  color: #444;

  span {
    background: #f5f5f5;
    color: #f44336;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    border: 1px solid #f1f1f1;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
</style>
