/** *@Description of page: Dashboard FAQ page add view. *@author: Donacien
*@contributor : Bangsi Rene */

<template>
  <div class="course1">
    <modal :data="editedData"></modal>
    <h1 class="styleh1">Add New Category</h1>
    <div class="container course">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form action>
            <div class="border1 contain1 headers mb-2 m-lg-5">
              <h4 class="c-info">New Category</h4>
              <div class="form-group">
                <label for="title">Name</label>
                <input
                  type="text"
                  v-model="data.name"
                  class="form-control"
                  name="title"
                  placeholder="name"
                />
              </div>
              <div class="form-group">
                <label for="color">Color</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="data.color"
                  name="color"
                  placeholder="Color"
                />
              </div>
              <div class="form-group">
                <label for="except">Description</label>
                <textarea
                  name="section1"
                  class="form-control"
                  id
                  cols="3"
                  v-model="data.desc"
                  placeholder="Description"
                  rows
                ></textarea>
              </div>

              <div class="form-group">
                <label for="except">Keywords</label>
                <textarea
                  name="section1"
                  class="form-control"
                  v-model="data.keywords"
                  id
                  cols="3"
                  placeholder="Keyword"
                  rows
                ></textarea>
              </div>
              <button type class="btn save mr-3" @click.prevent="add">
                Save Data
              </button>
            </div>
          </form>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="border2 mt-5">
            <div class="mb-2">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class>Category</h4>
                  <hr class="s-solid" />
                </div>
              </div>
            </div>
            <div class="mytable">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th class scope>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="catergory in catergories" :key="catergory._id">
                    <td>{{ catergory.name }}</td>
                    <td>{{ catergory.desc }}</td>
                    <td>
                      <button
                        class="btn btndup bg-danger"
                        @click="deleteCatergory(catergory._id)"
                      >
                        <i
                          class="fa fa-trash-o text-light"
                          aria-hidden="true"
                        ></i>
                      </button>
                      <button
                        class="btn btndup bg-info ml-1"
                        @click="edit(catergory._id)"
                      >
                        <i
                          class="text-light fa fa-pencil "
                          aria-hidden="true"
                        ></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import axios from "axios";
import "vue-toast-notification/dist/theme-default.css";
import Modal from "./editModal";
import api from "../../api";

export default {
  name: "app",
  components: {
    modal: Modal,
  },
  data() {
    return {
      catergories: [],
      editedData: {},
      data: {
        name: "",
        keywords: "",
        color: "",
        desc: "",
      },
      new: {
        name: "",
        keywords: "",
        color: "",
        desc: "",
      },
      baseUrl: process.env.VUE_APP_API_BASE_URL,
    };
  },
  mounted: function() {
    api
      .get("/blogcatergory", {})
      .then((result) => {
        this.catergories = result.data;
      })
      .catch((err) => {
        // console.log(err);
      });
  },
  methods: {
    edit: function(id) {
      let dataWithoutObserver = this.catergories.find((item) => item._id == id);
      const finalData = JSON.parse(JSON.stringify(dataWithoutObserver));

      this.editedData = finalData;

      this.$modal.show("edit");
    },
    add: function() {
      api
        .post("/blogcatergory", this.data, {})
        .then((result) => {
          if (result.data.message) {
            this.$toast.open({ message: "Catergory Created", position: "top" });
            let addData = {};
            addData = this.data;
            addData._id = result.data.id;

            this.catergories.push(addData);
            this.data = { ...this.new };
          }
        })
        .catch((err) => {
          // console.log(err);
        });
    },
    deleteCatergory: function(id) {
      api
        .delete("/blogcatergory", {
          params: { id: id },
        })
        .then((result) => {
          let filtered = this.catergories.filter((item) => {
            return item._id != id;
          });
          this.catergories = filtered;
        })
        .catch((err) => {
          // console.log(err);
        });
    },
  },
};
</script>

<style scoped lang="scss">
.mytable {
  overflow-x: scroll;
  width: 100% !important;
}

hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.headers {
  color: #08635d;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
  background-color: #f3f3f3;
  label {
    letter-spacing: 0px;

    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }

  .c-info {
    background-color: #08635d;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.6em;
    color: #fff;
    border-radius: 5px;
  }
  .bt {
    margin-left: 5px;
    margin-top: 5px;
  }

  .course {
    display: flex;

    .border1 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }

    .border2 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  .chk_status {
    color: #08635d;
    font-weight: 600;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 750px) {
  .border2 {
    width: 100%;
  }
  .btndup {
    padding: 5px;
    font-weight: 500;
    font-size: 0.9em;
    color: #fff;
    height: 27px;
    width: 63px;
  }
  .border1 {
    margin-right: 0em;
  }
  .mytable {
    overflow-x: scroll;
    width: 100% !important;
  }
  .ml-1 {
    margin-left: 0% !important;
    margin-top: 1em !important;
  }
  td {
    font-size: 1em !important;
  }
}
</style>
