<template>
   <div id="admin">
  <h1 class="styleh1">Add New Admin</h1>
  <form action="">
<div class="container">
  <div class="row">
    <div class="flexBox col-md-12">
      <div class="border m-5">
        <h3>Admin  Details</h3>
        <div class="form-group">
          <label for="fullname">FullName</label>
          <input v-model="Details.fullName" required type="text" name="fullname" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input v-model="Details.email" required type="email" name="email" class="form-control">
        </div>
        <div v-if="isLoading" class="d-flex justify-content-center">
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
            </div>
				</div>
        <button class="btn mt-5 save" @click.prevent="addNewAdmin">Save Data</button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
</template>

<script>
const axios = require('axios');
import "vue-toast-notification/dist/theme-default.css";
import AdminApi from '../../services/api/AdminApi'
export default {
  name: 'admin',
  data() {
    return {
      Details: {
        fullName: '',
        email: ''
      },
      isLoading: false
    }
  },

  methods: {
    addNewAdmin() {
      this.isLoading = true;
      AdminApi.addAdmin(this.Details).then(res => {
        this.isLoading = false;
        this.Details.fullName = '';
        this.Details.email = '';
        this.$toast.open({message: "Admin Added Successfully", position: "top"})
      }).catch(err => {
        this.isLoading = false;
        this.$toast.open({message: "There was an error", type: "error", position: "top"})
        console.log(err)
      })
    }
  }

}
</script>

<style scoped lang="scss">
#admin {
  background: #f3f3f3;
  
  form {
    background: #f3f3f3;
    .border{
        padding: 20px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 35em;
  
      }
       h3 {
           color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
   label {
      letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }

  }
.flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
}

.btn {
  margin-bottom: 4px;
  margin-right: 6px;
}

</style>
