
  <template v-slot:default>
  <div>
    <h1 class="styleh1">All Admins</h1>
    <v-simple-table dense>
    
      <thead>
        <tr>
          <th class="text-left">Full Names</th>
          <th class="text-left">Email</th>
          <th class="text-left">Author</th>
          <th class="text-left">created_at</th>
          <th class="text-left">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="admin in admins" :key="admin.name">
          <td>{{ admin.fullName }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.author }}</td>
          <td>{{ admin.created }}</td>
          <td>{{ admin.action}}
             <button @click="deleteAdmin(admin._id)" class="btn bg-danger fixmobilebtn1"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
  </v-simple-table>
  </div>
</template>

<script>
const axios = require('axios');
import AdminApi from '../../services/api/AdminApi';

import "vue-toast-notification/dist/theme-default.css";
export default {
  name: 'AllAdmin',
  data () {
      return {
        admins: [],
      }
    },
    created() {
        AdminApi.getAllAdmins().then(res => {
          this.admins = res.data.data;
        })
    },
    methods: {
      deleteAdmin(id) {
            AdminApi.deleteAdmin(id).then(res => {
              AdminApi.getAllAdmins().then(res => {
                this.admins = res.data.data;
                this.$toast.open({message: "Admin Deleted", type: "info", position: "top"})
            })
        }).catch(err => {
          this.$toast.open({message: "There was an error", type: "error", position: "top"})
          console.log(err)
        })
      }
    }
}
</script>

<style scoped lang="scss">
#admin {
  background: #f3f3f3;
  
  form {
    background: #f3f3f3;
    .border{
        padding: 20px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 37em;
    height: 30em;
      }
       .h3 {
           color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
   label {
      letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }

  }
.flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
}

.btn {
  margin-bottom: 4px;
  margin-right: 6px;
}

  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 

</style>


