
/**
 *@Description of page: Dashboard FAQ page add view.
 *@author: Donacien
 *@contributor : Bangsi Rene
 */

<template>
  <div class="course1">
    <h1 class="styleh1">Faq's</h1>
    <div class="course container">
      <div class="row ">
        <div class="col-md-4 col-sm-12">
          <form action="">
            <div class="border1 contain1 headers mb-2 m-lg-5 ">
              <h4 class="c-info">Add New</h4>
              <div class="form-group">
                <label for="title">Question</label>
                <input
                v-model="Faq.question"
                  type="text"
                  class="form-control"
                  name="title"
                  placeholder="Question"
                />
              </div>

              <div class="form-group">
                <label for="except">Answer</label>
                <textarea
                v-model="Faq.answer"
                  name="section1"
                  class="form-control"
                  id=""
                  cols="5"
                  placeholder="Answer"
                  rows=""
                ></textarea>
              </div>
              <button @click.prevent="onFormSubmit" type="submit" class="btn save mr-3">Save Data</button>
            </div>
          </form>
        </div>

        <div class="col-sm-12 col-md-8">
          <div class="border2 mt-5">
            <div class=" mb-2">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class="">Faqs</h4>
                  <hr class="s-solid">
                </div>
              </div>
            </div>
            <div class="mytable">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Answer</th>
                  <!-- <th scope="col">Updated_At</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="faq in Faqs" :key="faq.question">
                  <td>{{faq.question}}</td>
                  <td>{{ faq.answer }}</td>
                   <!-- <td>{{ faq.createdAt }}</td> -->
                  <td>
                    <button @click.prevent="onFaqDelete($event,faq._id)" class="btn btndup bg-danger"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
                    <!-- <button class="btn btndup bg-info ml-1">edit</button> -->
                    <button @click.prevent="onEditClick($event,faq._id)" type="button" class="btn btndup bg-info ml-1" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="text-light fa fa-pencil " aria-hidden="true"></i></button>

                      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                           <div class="col-md-12 col-sm-12">
                              <form action="">
                                <div class="border1 contain1 headers mb-2 m-lg-5 ">
                                  <h4 class="c-info">Update Faq's</h4>
                                  <div class="form-group">
                                    <label for="title"> Question</label>
                                    <input
                                    v-model="updatedFaq.question"
                                      type="text"
                                      class="form-control"
                                      name="title"
                                      placeholder="Question"
                                    />
                                  </div>

                                  <div class="form-group">
                                    <label for="except">Answer</label>
                                    <textarea
                                    v-model="updatedFaq.answer"
                                      name="section1"
                                      class="form-control"
                                      id=""
                                      cols="5"
                                      placeholder="Answer"
                                      rows=""
                                    ></textarea>
                                  </div>
                                  <button @click.prevent="onFaqUpdated" type="submit" class="btn save mr-3">Update Faq</button>

                                  <button type="button" class="btn btn-secondary mt-1" data-dismiss="modal">Close</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-toast-notification/dist/theme-default.css";
import  FaqApi from '../../services/api/FaqApi.js';
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "app",
  data() {
    return {
      Faqs:[],
      Faq: {
        question: '',
        answer: ''
      },
      updatedFaq: {
        question: '',
        answer: ''
      },
      current_id: ''
    }
  },
  created() {
    console.log(Object.keys(FaqApi))
    FaqApi.getFaq().then(res => {
      console.log(res)
      if(res){
        this.Faqs = res.data.data;
      }
    
  }).catch(err => {
     this.$toast.open({message: "There was an error", type: "error", position: "top"})
    console.log(err)
  }) 
  },
  methods: {
    onFormSubmit(e) {
      e.preventDefault();
      FaqApi.addFaq(this.Faq).then(res => {
        this.Faq.question = '';
        this.Faq.answer = '';
        FaqApi.getFaq().then(res => {
             this.Faqs = res.data.data;
          })
        this.$toast.open({ message: "Faq Added", position: "top" });
      
      }).catch(err => {
        this.$toast.open({message: "There was an error", type: "error", position: "top"})
      }) 
    },
    onFaqUpdated() {
    FaqApi.updateFaq(this.current_id,this.updatedFaq).then(res => {
     
      this.updatedFaq = { ...res.data.data };
      FaqApi.getFaq().then(res => {
            this.Faqs = res.data.data;
      });
      this.$toast.open({ message: "Faq Updated", position: "top" });
      }).catch(err => {
        this.$toast.open({message: "There was an error",})
      })
    },
    onEditClick(e,id) {
      this.current_id = id;
     FaqApi.getSingleFaq(id).then(res => {
        this.updatedFaq = res.data.data[0];
      }).catch(err => {
        // console.log(err)
      })
    },
    onFaqDelete(e,id) { 
     FaqApi.deleteFaq(id).then(res => {
       FaqAPi.getFaq().then(res => {
             this.Faqs = res.data.data;
          })
      this.$toast.open({ message: "Faq Deleted",type: 'error', position: "top" });
    
    }).catch(err => {
      this.$toast.open({messages: "There was an error", type:'error'})
    })
    }
  }
};
</script>

<style scoped lang="scss">

 .mytable {
   overflow-x: scroll;
   width: 100% !important;
 }

hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.headers {
  color: #08635d;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
  background-color: #f3f3f3;
  label {
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .c-info {
    background-color: #08635d;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.6em;
    color: #fff;
    border-radius: 5px;
  }
  .bt {
    margin-left: 5px;
    margin-top: 5px;
  }
  .course {
    display: flex;

    .border1 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }

    .border2 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  .chk_status {
    color: #08635d;
    font-weight: 600;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 750px) {
   .border2 {
    width: 84%;
  }
  .btndup{
        padding: 5px;
        font-weight: 500;
    font-size: 0.9em;
    color: #fff;
    height: 27px;
    width: 63px;
  }
 .border1 {
  margin-right: 3.5em;
  }
 .mytable {
   
   overflow-x: scroll;
   width: 100% !important;
 }
 .ml-1 {
   margin-left: 0% !important;
   margin-top: 1em !important;
 }
 td {
    font-size: 1em !important;
  }
}
</style>
