
  <template v-slot:default>
  <div>
    <h1 class="styleh1">Add New Curriculum</h1>
    <v-simple-table dense>
    
      <thead>
        <tr>
          <th class="text-left">Id</th>
          <th class="text-left">Title</th>
          <th class="text-left">Description</th>
          <th class="text-left">updated_at</th>
          <th class="text-left">created_at</th>
          <th class="text-left">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="item in course_curriculum" :key="item.name">
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.created_at}}</td>
          <td>{{ item.updated_at }}</td>
          <td>{{ item.action}}
             <button class="btn bg-danger fixmobilebtn1"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
            <button type="button" class="btn bg-info ml-3 fixmobilebtn2" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="text-light fa fa-pencil " aria-hidden="true"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div id="curriculum">
                        <h1 class="styleh1">Update Corriculum</h1>
                        <form action="">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 flexBox">
                            <div class="border mb-2 m-lg-5">
                              <h3 class="h3">Curriculum Content</h3>
                              <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" placeholder="Title">
                              </div>

                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" id="" cols="" class="form-control" rows="5" placeholder="Description"></textarea>
                              </div>
                              <button class="btn databtn save">Save Data</button>
                               <button type="button" class="btn btn-secondary mt-1" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </form>
                      </div>
                  </div>
                </div>
              </div>
          </td>
        
         
        </tr>
      </tbody>
  </v-simple-table>
  </div>
</template>

<script>
export default {
  name: 'All Course Corriculum',
  data () {
      return {
        course_curriculum: [
          {
            id: 1,
            title: "new course curriculum title",
            description: "new course curriculum  description"
          }
        ],
      }
    },
}
</script>

<style scoped lang="scss">

#curriculum {
  background: #f3f3f3;
    form {
      background: #f3f3f3;
      display: block;
      align-content: center;
      height: 75vh;
      input {
       
        color: #000;
      }
      .databtn {
        margin-top: 1em !important;
      }
      label{
        font-size: 0.9em;
        font-weight: 600;
      }
      .form-group {
       margin-top: 2em;
      }
    }
    // h1 {
    //   padding: 1.5em;
    //   color: #08635d;
    //   font-weight: 700;
    // }
      .border {
       padding: 20px;
        border-radius: 5px;
        background: #fff;
        -webkit-box-shadow: 2px 2px 8px;
        box-shadow: 0px 0px 7px 3px #b1b1b1;
      width: 37em;
      height: 34.5em;

    .h3 {
  color: #fff;
  background:  #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: capitalize;
  border-radius: 5px;
    text-align: center;
}
        }
    .flexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
 
.btn {
  margin-bottom: 4px;
  margin-right: 6px;
}
.border {
  padding: 15px;
  border-radius: 2%;

}
 }

  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>

