/**
 *@Description of page: Dashboard event page add view.
 *@author: Donacien
 *@date Date created 15 August 2020
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 *@contributor : Dzekewong Karlson
 */
<template>
<div class="event">
    <h1 class="styleh1" >Add New Event</h1>
      <form action="">
         <div class="container">
           <div class="row d-flex">
              <div class="col-md-8">
                      <div class="border m-md-5 mb-2">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          name="name" id="title" 
                          placeholder="Title"
                          v-model="event.name"
                          >
                        </div>
                        <div class="form-group">
                          <label for="Venue">Venue</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          name="name" id="Venue" 
                          placeholder="Venue"
                          v-model="event.venue"
                          >
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea 
                          name="description" 
                          class="form-control" 
                          id="description" 
                          placeholder="Description" 
                          cols="" 
                          rows="15"
                          v-model="event.description"
                          ></textarea>
                        </div>
                   </div>
                    <div class="border m-md-5 mb-2">
                       <div class="form-group">
                          <label for="except">Excerpt</label>
                          <textarea 
                          name="Excerpt" 
                          class="form-control" 
                          id="description" 
                          placeholder="Excerpt" 
                          cols="" 
                          rows="5"
                          v-model="event.excerpt"
                          ></textarea>
                        </div>
                      </div>
                      <div class="border m-md-5 mb-2">
                        <div class="d-flex ">
                          <div class="col-md-6">
                            <label for="event">Link To Events</label>
                            <input 
                            type="text" 
                            name="event" 
                            placeholder="Link To Event" 
                            class="form-control"
                            v-model="event.link"
                            >
                          </div>
                          <div class="col-md-6">
                            <label for="host">Host</label>
                            <input 
                            type="text" 
                            name="host" 
                            class="form-control"
                            v-model="event.host"                     
                            >
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                   <div class="border m-md-5 mb-2">
                      <div class="form-group"> 
                        <legend>Check Category</legend> 
                        <hr class="s-solid">  
                       <fieldset class="category-overflow">        
                          <p class="d-flex align-items-center"  v-for="(data,index) in eventCategories" :key="index"><input type="checkbox" @change="category(data)"  class="legend-input ml-0  my-auto " name="Category1" value="Category1"><span class="">{{data.name}}</span><br> </p>
                      </fieldset>  
                      </div>
                       </div>
                      <div class="border m-md-5 mb-2">
                        <div class="form-group">
                            <label class="feature-img" for="upload">Featured Image</label>
                            <hr class="s-solid">  
                            <input id="eventImage" @change="upload"  type="file" class="form-control mt-3">
                        </div>
                      </div>
                       <div class="border m-md-5 mb-2">
                        <div class="form-group">
                            <label class="feature-img" for="upload">Duration</label>
                            <hr class="s-solid"> 
                            <form class="col-md-12 row mx-0 px-0">
                              <label>Start Time</label>
                                <input id="startTime" placeholder="Start Time"  type="time" class="form-control mt-1 col-md-12">
                                <input id="startDate" placeholder="Close Time" type="date" class="form-control mt-3 mb-3 col-md-12">
                              <label>Close Time</label>
                                <input id="closeTime" placeholder="Start Time"  type="time" class="form-control mt-1 col-md-12">
                                <input id="closeDate" placeholder="Close Time" type="date" class="form-control mt-3 col-md-12">
                            </form> 
                        </div>
                      </div>
                       <div class="border m-md-5 mb-2">
                         <h3 class="sub_head">Save/Publish</h3>
                         <hr class="s-solid">
                        <div class="form-group">
                            <button  class="btn btnSave mt-3" @click="saveEvent($event,'draft')">Save Data</button>
                            <button class="btn save" @click="saveEvent($event,'publish')">Publish</button>
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
      </form>
</div>
</template>
<script>
import data  from '@/services/api/EventCategoryApi'
import events from '@/services/api/EventApi'
import "vue-toast-notification/dist/theme-default.css";
import { cibOsi } from '@coreui/icons'
export default {
  name: 'add_new_events',
  data() {
    return {
      Event: {},
      categories:[],
      img: null,
      fd : new FormData(),
      eventCategories:[],
      event: {
        name: '',
        startTime:'',
        startDate:'',
        closeTime:'',
        closeDate:'',
        description: '',
        link:'',
        venue:'',
        excerpt:'',
        host:'',
        category:['5f50ecb79dac01370aa011bd'],
        imagePath: '',
        status: 'publish'
      }
  }
  },
  created(){
      this.eventCategories = data.getAllEventsCategories().then(res => {
      this.eventCategories = res;
  })
  },
  methods:{
    upload(event){
        this.img = event.target.files[0];
        let fd = new FormData();
        fd.append('image',this.img)
        events.fileUpload(fd)
        .then(res => {
          this.$toast.open({message: "Image Uploaded", position: "top"});
          this.event.imagePath = res;
        })
    },
    saveEvent(e,status){
      e.preventDefault()
      this.event.startTime =  document.getElementById('startTime').value;
      this.event.startDate =  document.getElementById('startDate').value;
      this.event.closeTime =  document.getElementById('closeTime').value;
      this.event.closeDate =  document.getElementById('closeDate').value;
      this.event.status = status;
      this.event.category = this.categories
      events.addEvents(this.event) 
      .then(res =>{
        this.$toast.open({message: "Event Created", position: "top"});
      })
      .catch(err => {
        console.log(err)
      })
    },
    category(option){
      let index = this.categories.indexOf(option._id,0)
      if(index < 0){
        console.log('selected new category: '+ option._id)
         this.categories.push(`${option._id}`)
      }     
      else{
        this.categories.splice(index,1)  
      }
        
    }
  }
}
</script>
<style scoped lang="scss">
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.category-overflow  {
  height: 8em !important;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.legend-input {
  float: left;
}
.event {
  .row {
    background: #fff;
  }
  form{
     background: #f3f3f3;
  legend{
  font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
  }
.sub_head {
    font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
}
  .border {
       padding: 20px;
         border-radius: 5px;
         background: #fff;
         -webkit-box-shadow: 2px 2px 8px;
         box-shadow: 0px 0px 7px 3px #b1b1b1;
    label {
           font-size: 1.2em;
            font-weight: 500;
            color: #08635d;
        }
      .form-group {
        margin-top: 10px;
        button:first-child {
         background: #fff;
          color: #08635d;
          border-radius: 5px;
          border: 2px solid #08635d;
          font-size: 1.3em;
          width: 100%;
          margin-bottom: 1em;
        }
        button:first-child:hover {
          color: white;
          background:  #08635d;
          font-weight: 700;
          transition: .7s
        }
      }
      input, textarea  {
        box-shadow: 0px 2px 3px #00000029;
        border: 1px solid #707070;
        border-radius: 5px;
        opacity: 1;
       }
      }
      .border:hover {
        background: #00FFFF01;
      }
    }
    fieldset {
        line-height: 1.9em;
        display: block;
        font-size: 18px;
        font-weight: 500;
      input{
         margin: 20px 20px 0px 0px;
        }
      }
}
</style>