/**
 *@Description of page: Dashboard event page all view.
 *@author: Donacien
 *@contributor : Teke Rene
 */
<template v-slot:default>
<div id="events">
    <h1 class="styleh1">All Events</h1>
  <v-simple-table dense>
      <thead>
        <tr>
          <th class="text-left">Id</th>
          <th class="text-left">Title</th>
          <th class="text-left">Description</th>
          <th class="text-left">Venue</th>
          <th class="text-left">Link</th>
          <th class="text-left">Event Host</th>
          <th class="text-left">category</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(event,index) in allEvents" :key="index">
          <td class="font-weight-bold">{{ index + 1 }}</td>
          <td class="font-weight-bold">{{ event.name }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.venue}}</td>
          <td>{{ event.link }}</td>
          <td>{{ event.host }}</td>
          <td><span class="font-weight-bold" v-for="(object,i) in event.category" :key="i">{{ getCategory(object) }} ,  </span></td>
          <td>
             <button class="btn bg-danger fixmobilebtn1" @click="deleteEvent(event._id)"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
            <router-link :to="{name: 'UpdateEvent', params: { id: event._id}}" type="button" class="btn bg-info ml-3 fixmobilebtn2"><i class="text-light fa fa-pencil " aria-hidden="true"></i></router-link>
          </td>
        </tr>
      </tbody>
  </v-simple-table>
  </div>
</template>
<script>
import events from '@/services/api/EventApi'
import data  from '@/services/api/EventCategoryApi'
  export default {
    data () {
      return {
        allEvents:[],
        allCategories:[]
      }
    },
    created(){
        events.getAllEvents().then(res => {
            this.allEvents = res.data
        });
      data.getAllEventsCategories().then(res => {
       this.allCategories = res;
    });
    },
    methods: {
      getCategory(id){
        let data = ''
        for(let category of this.allCategories)        
            if(category._id == id){
              data = category.name
              break;
            }
      return data  
      },
      deleteEvent(id){
        events.deleteEvent(id)
        .then(res =>{
            events.getAllEvents().then(res => {
            this.allEvents = res.data });
        })
      }
    }
  }
</script>
<style scoped lang="scss">
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.category-overflow  {
  height: 8em !important;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.legend-input {
  float: left;
}
.event {
  .row {
    background: #fff;
  }
  form{
     background: #f3f3f3;
  legend{
  font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
  }
.sub_head {
    font-size: 1.2em;
    font-weight: 500;
    color: #08635d;
}
  .border {
       padding: 20px;
         border-radius: 5px;
         background: #fff;
         -webkit-box-shadow: 2px 2px 8px;
         box-shadow: 0px 0px 7px 3px #b1b1b1;
    label {
           font-size: 1.2em;
            font-weight: 500;
            color: #08635d;
        }
      .form-group {
        margin-top: 10px;
        button:first-child {
         background: #fff;
          color: #08635d;
          border-radius: 5px;
          border: 2px solid #08635d;
          font-size: 1.3em;
          width: 100%;
          margin-bottom: 1em;
        }
        button:first-child:hover {
          color: white;
          background:  #08635d;
          font-weight: 700;
          transition: .7s
        }
      }
      input, textarea  {
        box-shadow: 0px 2px 3px #00000029;
        border: 1px solid #707070;
        border-radius: 5px;
        opacity: 1;
       }
      }
      .border:hover {
        background: #00FFFF01;
      }
    }
    fieldset {
        line-height: 1.9em;
        display: block;
        font-size: 18px;
        font-weight: 500;
      input{
         margin: 20px 20px 0px 0px;
        }
      }
}
  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>