/**
 *@Description of page: Dashboard event page add view.
 *@author: Donacien
 *@date Date created 15 August 2020
 *@contributor : Dzekewong Karlson
 */
<template>
  <div class="course1">
    <h1 class="styleh1">Add New Event Category</h1>
    <div class="container course">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form action>
            <div class="border1 contain1 headers mb-2 m-lg-5">
              <h4 class="c-info">New Category</h4>
              <div class="form-group">
                <label for="title">Name</label>
                <input
                  type="text"
                  v-model="eventCategory.name"
                  class="form-control"
                  name="title"
                  placeholder="name"
                />
              </div>
              <div class="form-group">
                <label for="except">Description</label>
                <textarea
                  v-model="eventCategory.description"
                  name="section1"
                  class="form-control"
                  cols="3"
                  placeholder="Description"
                  rows
                ></textarea>
              </div>
              <div class="form-group">
                <label for="except">Keywords</label>
                <textarea
                  name="section1"
                  class="form-control"
                  v-model="eventCategory.excerpt"
                  cols="3"
                  placeholder="Keyword"
                  rows
                ></textarea>
              </div>
              <button @click="addCategory($event,eventCategory._id)" type class="btn save mr-3">{{status}}</button>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="border2 mt-5">
            <div class="mb-2">
              <div class="row headers">
                <div class="col-md-8">
                  <h4 class>Category</h4>
                  <hr class="s-solid" />
                </div>
              </div>
            </div>
            <div class="mytable">
              <table class="table table-hover">
                <thead>
                  <tr >
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th class scope>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(data,index) in eventCategories" :key="index">
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td>
                      <button class="btn btndup bg-danger" :id="data._id" @click="deleteEventsCategory(data._id)"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
                      <button class="btn btndup bg-info ml-1" @click="updateCategory(data)"><i class="text-light fa fa-pencil"  aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import data  from '@/services/api/EventCategoryApi'
import "vue-toast-notification/dist/theme-default.css";
export default {
  name: 'Event_Categories',
  data(){
    return {
      status: 'Save Data',
      eventCategories:[],
      eventCategory:{
        name: '',
        excerpt: '',
        description : '',
      }
    }
  },
  created(){
      this.eventCategories = data.getAllEventsCategories().then(res => {
      this.eventCategories = res;
    });
  },
  methods:{
    addCategory(e,id){
      e.preventDefault()
      if(this.status==="Save Data"){
        data.addEventsCategory(this.eventCategory)
        .then(res =>
          data.getAllEventsCategories().then(res => {
          this.eventCategories = res;
          this.eventCategory.name = '',
          this.eventCategory.excerpt = '',
          this.eventCategory.description = '',    
          this.$toast.open({message: "Category Created", position: "top"});
        }))
      }
      if(this.status==="Update Data"){
        let newdata = {
          name: this.eventCategory.name,
          description: this.eventCategory.description,
          excerpt: this.eventCategory.excerpt
        }
        data.updateEventCategory(id,newdata)
        .then(res =>{
            data.getAllEventsCategories().then(res => {
                this.eventCategories = res;
                this.$toast.open({message: "Category Updated", position: "top"});
            });
          })
        this.eventCategory = {}
        this.status = 'Save Data';
      }
    },
    deleteEventsCategory(e){
      data.deleteEventsCategory(e)
      .then(res =>{
       data.getAllEventsCategories().then(res => {
       this.eventCategories = res;
       this.$toast.open({message: "Event Deleted", position: "top", type: 'error'});
       });
      })
    },
    updateCategory(data){
      this.status = 'Update Data';
      this.eventCategory = data
    }
  }
}
</script>
<style scoped lang="scss">
.mytable {
  overflow-x: scroll;
  width: 100% !important;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.headers {
  color: #08635d;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}
hr.s-solid {
  border-top: 1px solid #08635d;
  width: 100%;
  margin: 1%;
}
.course1 {
  background-color: #f3f3f3;
  label {
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .c-info {
    background-color: #08635d;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.6em;
    color: #fff;
    border-radius: 5px;
  }
  .bt {
    margin-left: 5px;
    margin-top: 5px;
  }
  .course {
    display: flex;
    .border1 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
    .border2 {
      padding: 20px;
      border-radius: 5px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 8px;
      box-shadow: 0px 0px 7px 3px #b1b1b1;
    }
  }
  .chk_status {
    color: #08635d;
    font-weight: 600;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 750px) {
  .border2 {
    width: 100%;
  }
  .btndup {
    padding: 5px;
    font-weight: 500;
    font-size: 0.9em;
    color: #fff;
    height: 27px;
    width: 63px;
  }
  .border1 {
    margin-right: 0em;
  }
  .mytable {
    overflow-x: scroll;
    width: 100% !important;
  }
  .ml-1 {
    margin-left: 0% !important;
    margin-top: 1em !important;
  }
  td {
    font-size: 1em !important;
  }
}
</style>






