<template>
<div id="instructor">
  <h1 class="styleh1">Add New Testimonial</h1>
    <form action="">
      <div class="container">
        <div class="row">
          <div class="ins_colo flexBox col-md-12">
            <div class="border m-5">
              <h3 class="h3">Testimony Details</h3>
              <div class="form-group">
                <label for="fullName">FullName</label>
                <input v-model="Testimonial.name" type="text" name="fullname" class="form-control">
              </div>
             
                <div class="form-group">
                  <label for="role">Role</label>
                  <input v-model="Testimonial.role" type="text" name="role" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea v-model="Testimonial.testimonial" name="message" id="" cols="" class="form-control" rows=""></textarea>

              </div>
              <div class="form-group">
                <h5 for="photo">Photo</h5>
                 <img :src="baseUrl+Testimonial.imagePath" class="img-fluid" alt="">
                 <input @change="onFileUpload" type="file" name="photo" class="form-control"> 
                </div>
                <div>
                   <button @click.prevent="onFormSubmit" class="btn save mt-3" type="submit">Save Data</button>
                </div>
            </div>
            </div>
        </div> 
      </div>
    </form>
</div>
</template>

<script>
import axios from 'axios'
import "vue-toast-notification/dist/theme-default.css";
import TestimonialApi from '@/services/api/TestimonialApi';

export default {
  name: 'AddNewTestimonial',
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Testimonial: {
        name: '',
        role:'',
        testimonial: '',
        imagePath: ''
      },
    }
  },
  methods: {
      onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image',img);
      
       TestimonialApi.photoUpload(fd).then(res => {
        this.$toast.open({message: "Image Uploaded"})
       this.Testimonial.imagePath = res.data.imgPath;
      }).catch(err =>{
        this.$toast.open({message: "There was an error", type: "error", position:"top"});
      })
    },

    onFormSubmit() {
     TestimonialApi.addTestimonial(this.Testimonial).then(res => {
       this.Testimonial.name = '';
       this.Testimonial.role = '';
       this.Testimonial.testimonial = '';
       this.Testimonial.imagePath = '';
       this.$toast.open({ message: "Testimonial Added", position: "top" });
      }).catch(err => {
         this.$toast.open({message: "There was an error", type: "error", position:"top"});
      })
    },
  }
}
</script>


<style scoped lang="scss">
  img {
    height: 40%;
    width: 40%;
  }
  #instructor {
    background: #f3f3f3;
  
    .ins_colo {
      border-radius: 2%;
    }
     label {
          letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }
    .flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 35em;
  
  }
  h3 {
  color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
  H4 {
    text-align: center;
  }
  }
</style>
