
/**
 *@Description of page: Dashboard Testimonial page all view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */


<template v-slot:default>
<div>
  <h1 class="styleh1">All Testimonial</h1>
  <v-simple-table dense>
    
      <thead>
        <tr>
          <th class="text-left">FullName</th>
          <th class="text-left">Role</th>
          <th class="text-left">Message</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="testimonial in testimonials" :key="testimonial.name">
          <td>{{ testimonial.name }}</td>
          <td>{{ testimonial.role }}</td>
          <td>{{ testimonial.testimonial }}</td>
          <td>
             <button @click="onTestimonialDelete($event,testimonial._id)" class="btn bg-danger fixmobilebtn1"><i class="text-light fa fa-trash-o" aria-hidden="true"></i></button>
            <button type="button" @click="onEditClick(testimonial._id)" class="btn bg-info ml-3 fixmobilebtn2" data-toggle="modal" data-target=".bd-example-modal-lg"><i class=" text-light fa fa-pencil " aria-hidden="true"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div id="instructor">
                        <h1 class="head-text styleh1">Update Testimonial</h1>
                          <form action="">
                            <div class="container">
                              <div class="row">
                                <div class="ins_colo flexBox col-md-12">
                                  <div class="border m-md-5 m-2">
                                    <h3 class="h3">Testimony Details</h3>
                                    <div class="form-group">
                                      <label for="fullName">FullName</label>
                                      <input v-model="updateData.name" type="text" name="fullname" class="form-control">
                                    </div>
                                  
                                      <div class="form-group">
                                        <label for="role">Role</label>
                                        <input v-model="updateData.role" type="text" name="role" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea v-model="updateData.testimonial" name="message" id="" cols="" class="form-control" rows=""></textarea>
                                    
                                    </div>
                                    <div class="form-group">
                                        <h5 for="photo">Photo</h5>
                                        <img :src="baseUrl+updateData.imagePath" class="img-fluid" alt="">
                                    </div>
                                    <div class="form-group">
                                      <input @change="onFileUpload" type="file" name="photo" class="form-control"> 
                                      </div>
                                  <button @click.prevent="onTestimonialUpdated" class="btn save mt-3" type="submit">Save Data</button>
                                   <button @click="onCloseClick" type="button" class="btn btn-danger mt-1" data-dismiss="modal">Close</button>
                                  </div>
                                  </div>
                              </div> 
                            </div>
                          </form>
                      </div>
                  </div>
                </div>
              </div>  
          </td>
        </tr>
      </tbody>
  </v-simple-table>
</div>
    
</template>

<script>
import axios from 'axios'
import "vue-toast-notification/dist/theme-default.css";
import TestimonialApi from '@/services/api/TestimonialApi';

export default {
   name: 'AllTestimonials',
  data () {
      return {
        baseUrl: process.env.VUE_APP_API_BASE_URL,
        testimonials: [],
        updateData: {
          name: '',
          role:'',
          testimonial: '',
          imagePath: ''
        },
        current_id: ''
      }
    },
  created() {
    TestimonialApi.getAllTestimonial().then(res => {
    // console.log(res)
    this.testimonials = res.data.data;
  }).catch(err => {
    console.log(err)
  }) 
  },

  methods: {
    onTestimonialUpdated() {
        TestimonialApi.updateTestimonial(this.current_id,this.updateData).then(res => {
          this.updateData = { ...res.data.testimonial }
          this.$toast.open({ message: "Testimonial Updated", position: "top" });
        })
    },

    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image',img);

       TestimonialApi.photoUpload(fd).then(res => {
            this.$toast.open({message: "Image Uploaded", position: "top"})
            this.updateData.imagePath = res.data.imgPath;
        }).catch(err => {
          console.log(err)
        })
    },

    onEditClick(id) {
        this.current_id = id;
        TestimonialApi.getSingleTestimonial(id).then(res => {
          this.updateData = res.data.data[0];
        })
        
    },

    onCloseClick() {
      TestimonialApi.getAllTestimonial().then(res => {
          this.testimonials = res.data.data;
        }).catch(err => {
          console.log(err)
        })
    },

    onTestimonialDelete(e,id) {
      TestimonialApi.deleteTestimonial(id).then(res => {
          this.$toast.open({ message: "Testimonial Deleted", type:"error", position: "top" });
          TestimonialApi.getAllTestimonial().then(res => {
            this.testimonials = res.data.data;
          })

      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style scoped lang="scss">
  img {
    height: 40%;
    width: 40%;
  }
  #instructor {
    background: #08635d;

    .ins_colo {
      border-radius: 2%;
    }
     label {
          letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }
    .flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .border {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 37em;
  
  }
  .h3 {
  color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
  // H4 {
  //   text-align: center;
  // }
  }


  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>

