<template>
<div id="instructor">
  <h1 class="styleh1">Add Banneer</h1>
    <form action="">
      <div class="container">
        <div class="row">
          <div class="ins_colo flexBox col-md-12">
            <div class="border m-5">
              <h3 class="h3">Banner Details</h3>
              <div class="form-group">
                <label for="title">Title</label>
                <input required type="text" v-model="bannaData.title" name="title" placeholder="Title" class="form-control">
              </div>
             
                <div class="form-group">
                  <label for="url">Url</label>
                  <input  required type="text" v-model="bannaData.url" name="url" class="form-control">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea required name="description" v-model="bannaData.description" id="" cols="" class="form-control" rows=""></textarea>
               
              </div>
              <div class="form-group">
                <label for="image-url">imagesUrl</label>
                 <input @change="onFileUpload" name="bannerImage" type="file" class="form-control" placeholder="upload banner image">
                  <img v-if="!create" :src="baseUrl+bannaData.imageUrl" alt="" class="img-fluid" width="200" >
                </div>
                    <div >
                  <div v-if="create" class="form-group">
                      <button @click.prevent="onFormSubmit" type="submit" class="btn save">Save Banner</button>
                  </div>
                   <div v-else class="form-group">
                      <button @click.prevent="onBannerUpdate" type="submit" class="btn save">Update About</button>
                  </div>
               </div>
            </div>
            </div>
        </div> 
      </div>
    </form>
</div>
</template>

<script>
import axios from "axios";
import BannerApi from '@/services/api/BannerApi'
import "vue-toast-notification/dist/theme-default.css";

export default {
  name: 'Add_Banner',
  data(){
    return{
      bannaData: {
        title:"",
        url: "",
        imageUrl:"",
        description: ""
      },
      create: true,
      baseUrl: process.env.VUE_APP_API_BASE_URL
    }
  },
  created(){

    BannerApi.getBanner().then(res => {
      if(res.data.data.length > 0) {
          this.bannaData = { ...res.data.data[0] };
          this.create = false;
      }
    }).catch(err => {
      // console.log(err)
      this.$toast.open({ message: "There was an error", type: "error", position:"top"});

    })
  },
  methods: {
    onFileUpload(event) {
      this.imageName = event.target.name;
      let img = event.target.files[0];
      let fd = new FormData();
       fd.append('image', img);

      BannerApi.photoUpload(fd).then(res => {
          console.log('************** response after image upload *************')
          console.log(res)
          this.$toast.open({ message: "File Uploaded", position:"top"});
          this.bannaData.imageUrl = res.data.imgPath;
        
      }).catch(err => {
         this.$toast.open({ message: "There was an error", type: "error", position:"top"});
      })

    },
    onFormSubmit(e) {
     BannerApi.createBanner(this.bannaData).then(res => {
         this.$toast.open({ message: "Banner Created", position:"top"});
      }).catch(err => {
        console.log(err)
         this.$toast.open({ message: "There was an error", type: "error", position:"top"});
      })
    },

    onBannerUpdate() {
      BannerApi.updateBanner(this.bannaData._id,this.bannaData).then(res => {
           this.$toast.open({ message: "Banner Updated", position:"top" });
      }).catch(err => {
        console.log(err)
         this.$toast.open({ message: "There was an error", type: "error", position:"top"});
      })
    }
  }
}
</script>


<style scoped lang="scss">

  #instructor {
    background: #f3f3f3;
  
    .ins_colo {
      border-radius: 2%;
    }
     label {
          letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }
    .flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 35em;
    
  }
  h3 {
  color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
  H4 {
    text-align: center;
  }
  }
</style>
