<template>
    <div id="app" class="">
  <router-view></router-view>

    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
export default {
    
}
</script>
<style lang="scss">
// Import Main styles for this application
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/scss/style';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,600&display=swap');
// @import '~assets/scss/_variables';
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
p,
a,
span,
ul,
ol,
li,
.btn
legend
fieldset
label
textarea
input
form
article
strong {
  font-family: 'Montserrat', sans-serif;
}
.save {
    background: #fff;
    color: #08635d;
    border-radius: 5px;
    border: 2px solid #08635d;
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 0px;
  
}
.saved {
    background: #fff;
    color: #08635d;
    border-radius: 5px;
    border: 2px solid #08635d;
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 0px;
  
}
.save:hover {
  color: white;
  background:  #08635d;
  font-weight: 700;
  transition: .7s
}
.sub_header{
  color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 1.2em;
  text-transform: capitalize;
}

.headbg {
  background: #05AB9F;
  margin: 0px;
}

// h4:hover {
//   background: #7b7e83;
//   color:#fff ;404
//   font-weight: 600;
// }

.styleh1 {
      
      padding: 25px;
    
      font-weight: 700;
      text-align: center;
      margin: 0 0px;

     background-color: white;
     color: #075a54;
     font-size: 1.5em;
    box-shadow: 0px 2px 6px 0px #08635d
    }
    
#app > div > div.c-wrapper > div.c-body > main > div{
  padding: 0 0  
}

.c-sidebar-nav-dropdown-toggle:hover {
    color: #fff !important;
    background: #F79623 !important;
}

.c-sidebar-nav-link:hover {
    background: #F79623 !important;
  }



  .router-link-exact-active {
    background-color: #F79623 !important;
  }

  header.c-header {
    a.c-header-brand {
      svg {
        display: none;
        }
      }
    }

 .c-avatar-img {
    width: 100%;
    height: auto;
    border-radius: 50em;
    display: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
</style>

<style>
@import 'assets/font-awesome-4.7.0/css/font-awesome.css';
</style>