
/**
 *@Description of page: Dashboard instructor page add view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */


<template>
<div id="instructor">
  <h1 class="styleh1">Add New Instructor</h1>
    <form action="">
      <div class="container">
        <div class="row">
          <div class="ins_colo col-md-6">
            <div class="border mb-2 m-lg-5">
              <h3 class="sub_header h3">Instructor Details</h3>
              <div class="form-group">
                <label for="fullName">FullName</label>
                <input v-model="Instructor.name" type="text" name="fullname" class="form-control">
              </div>
              <div class="d-flex">
                <div class="col-md-6">
                  <label for="phone">Phone</label>
                  <input v-model="Instructor.phone" type="number" name="phone" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="email">Email</label>
                  <input v-model="Instructor.email" type="email" name="email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="fullName">Instructor Role</label>
                <input v-model="Instructor.role" type="text" name="fullname" class="form-control">
              </div>
              <div class="form-group">
                <h5 for="photo">Photo</h5>
                 <img :src="baseUrl+Instructor.imgUrl" class="img-fluid" alt="">
                 <input @change="onFileUpload" type="file" name="photo" class="form-control"> 
                </div>
              </div>
            </div>
          <div class="ins_colo col-md-6">
            <div class="border mb-2 m-lg-5">
              <div class="form-group col-md-12">
                <h3 class="sub_header h3">Social</h3>
                 <label for="social"></label>
                    Linkedin: <input v-model="Instructor.linkedin" type="text" class="form-control" name="linkedin">
                    Twitter: <input v-model="Instructor.twitter" type="text" class="form-control" name="twitter">
                    Facebook:<input v-model="Instructor.facebook" type="text" class="form-control" name="facebook">
              </div>

          </div>
          <div class="border  m-md-5">
          <div class="form-group">
            <button @click.prevent="onFormSubmit" class="btn save">Save Data</button>
           </div>
          </div>
        </div> 
        
      </div>
       
      </div>
    </form>
</div>
    
    
</template>

<script>
import axios from 'axios';
import "vue-toast-notification/dist/theme-default.css";
import InstructorApi from '@/services/api/InstructorApi';

export default {
  name: 'Add_Instructor',
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      Instructor: {
        name: '',
        email: '',
        role: '',
        phone: '',
        twitter: '',
        linkedin: '',
        facebook: '',
        imgUrl: '',
      },
      new: {
        name: '',
        email: '',
        role: '',
        phone: '',
        twitter: '',
        linkedin: '',
        facebook: '',
        imgUrl: '',
      }
    }
  },
  methods: {
    onFormSubmit(e) {
      e.preventDefault();
      InstructorApi.addInstructor(this.Instructor).then(res => {
         this.$toast.open({message: "Instructor Added", position:"top"})
        this.Instructor = { ...this.new }
      }).catch(err => {
        // console.log(err)
      })
      
    },

    onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image',img);

       InstructorApi.photoUpload(fd).then(res => {
         this.$toast.open({message: "Image Uploaded", position:"top"})
       this.Instructor.imgUrl = res.data.imgPath;
      }).catch(err =>{
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
      })
    },


  }
}
</script>


<style scoped lang="scss">
  img {
    height: 40%;
    width: 40%;
  }
  #instructor {
    background: #f3f3f3;
   
  label {
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          font-size: 0.9em;
           font-weight: 600;
          text-transform: capitalize;
            }
    .ins_colo {
      background: #fff;
    }
  option {
    font-weight: 500;
    font-size: 20px;
  }
  input {
    background: #F6F6F6;
    color: #000;
  }
  .border {
        padding: 20px;
        border-radius: 5px;
        background: #fff;
        -webkit-box-shadow: 2px 2px 8px;
        box-shadow: 0px 0px 7px 3px #b1b1b1;

  }
  .h3 {
    color: #fff;
    background:  #08635d;
    text-align:  center;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
    border-radius: 5px;
}
  H4 {
    text-align: center;
  }
  }
</style>
