
/**
 *@Description of page: Dashboard instructor page all view.
 *@author: Donacien
 *@contributor : Teke Rene
 *@contributor : Bangsi Rene
 */

<template v-slot:default>
  <div>
    <h1 class="styleh1">All Instructors</h1>
      <div class="simpleTable">
         <v-simple-table dense>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Email</th>
          <th class="text-left">Phone</th>
          <th class="text-left">Role</th>
          <th class="text-left">Twitter</th>
          <th class="text-left">Linkedin</th>
          <th class="text-left">Facebook</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="instructor in instructors" :key="instructor.name">
          <td>{{ instructor.name }}</td>
          <td>{{ instructor.email }}</td>
          <td>{{ instructor.phone }}</td>
          <td>{{ instructor.role }}</td>
          <td>{{ instructor.twitter }}</td>
          <td>{{ instructor.linkedin }}</td>
          <td>{{ instructor.facebook }}</td>
          <td>
            <button @click.prevent="onDeleteClick(instructor._id)" class="btn bg-danger fixmobilebtn1"><i class="fa fa-trash-o text-light" aria-hidden="true"></i></button>
            <!-- <button class="btn bg-info ml-3">edit</button> -->
            <button
            @click="onEditClick(instructor._id)"
              type="button"
              class="btn btn-info ml-2 fixmobilebtn2"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
            >
             <i class="text-light fa fa-pencil " aria-hidden="true"></i>
            </button>

            <div
              class="modal fade bd-example-modal-lg"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div id="instructor">
                    <h1 class="styleh1">Update Instructor</h1>
                    <form action="">
                      <div class="container">
                        <div class="row">
                          <div class="ins_colo col-md-12">
                            <div class="border mb-2 m-lg-5">
                               <h3 class="sub_header h3">Instructor Details</h3>
                              <div class="row">
                                <div class="form-group col-md-6">
                                  
                                  <label for="social"></label>
                                  Linkedin
                                  <input
                                    v-model="updateData.linkedin"
                                    type="text"
                                    class="form-control"
                                    name="linkedin"
                                  />
                                  Twitter:
                                  <input
                                    v-model="updateData.twitter"
                                    type="text"
                                    class="form-control"
                                    name="twitter"
                                  />
                                  Facebook:
                                  <input
                                    v-model="updateData.facebook"
                                    type="text"
                                    class="form-control"
                                    name="facebook"
                                  />
                                </div>
                                <div class="col-md-6">
                                    <img :src="baseUrl+updateData.imgUrl" class="img-fluid" alt="">
                                    <input @change="onFileUpload" type="file" name="photo" class="form-control"> 
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="fullName">Name</label>
                                <input
                                  v-model="updateData.name"
                                  type="text"
                                  name="fullname"
                                  class="form-control"
                                />
                              </div>
                              <div class="d-flex">
                                <div class="col-md-6">
                                  <label for="phone">Phone</label>
                                  <input
                                    v-model="updateData.phone"
                                    type="number"
                                    name="phone"
                                    class="form-control"
                                  />
                                </div>
                                <div class="col-md-6">
                                  <label for="email">Email</label>
                                  <input
                                    v-model="updateData.email"
                                    type="email"
                                    name="email"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="form-group">
                                <h5 for="Course">Role</h5>
                                <input class="form-control" type="text" v-model="updateData.role">
                              </div>
                            </div>
                            <div class="border  m-md-5 ">
                              <div class="form-group">
                                <button @click.prevent="onUpdateClick" class="btn save">Save Data</button>
                                 <button @click.prevent="onCloseClick" type="button" class="btn btn-danger mt-1" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
      </div>
  </div>
</template>

<script>
import InstructorApi from '@/services/api/InstructorApi'
import "vue-toast-notification/dist/theme-default.css";

export default {
  name: "All_Instructors",
  data() {
    return {
      baseUrl: process.env.VUE_APP_API_BASE_URL,
      instructors: [],
      updateData: {
        name: '',
        email: '',
        role: '',
        phone: '',
        twitter: '',
        linkedin: '',
        facebook: '',
        imgUrl: '',
      },
      current_id: ''
    };
  },
  created() {
    InstructorApi.getAllInstructors().then(res => {
      this.instructors = res.data.data;
    })
  },
  
  methods: {
  onEditClick(id) {
    this.current_id = id;
    InstructorApi.getSingleInstructor(id).then(res => {
      this.updateData = { ...res.data.data[0] };
    })
  },

  onUpdateClick() {
    InstructorApi.updateInstructor(this.current_id,this.updateData).then(res => {
       this.$toast.open({ message: "Instructor Updated", position: "top" });
    })
  },

  onDeleteClick(id) {
    InstructorApi.deleteInstructor(id).then(res => {
       this.$toast.open({message: "Instructor Deleleted", type:"error", position:"top"})
       InstructorApi.getAllInstructors().then(res => {
        this.instructors = res.data.data;
      })
    })
  },

  onCloseClick() {
    InstructorApi.getAllInstructors().then(res => {
      this.instructors = res.data.data;
    })
  },
  onFileUpload(event) {
      let img = event.target.files[0];
      let fd = new FormData();
      fd.append('image',img);

       InstructorApi.photoUpload(fd).then(res => {
         this.$toast.open({message: "Image Uploaded", position:"top"})
       this.updateData.imgUrl = res.data.imgPath;
      }).catch(err =>{
        console.log(err)
        this.$toast.open({message: "There was an error", type:"error", position:"top"})
      })
    },
  }
};
</script>

<style scoped lang="scss">
#instructor {
  background: #f3f3f3;

  label {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: capitalize;
  }
  .ins_colo {
    background: #fff;
  }
  option {
    font-weight: 500;
    font-size: 20px;
  }
  input {
    background: #f6f6f6;
    color: #000;
  }
  .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
  }
  .h3 {
    color: #fff;
    background: #08635d;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
    border-radius: 5px;
  }

  .simpleTable {
     overflow-x: scroll;
     width: 100%;
  }
}


  @media only screen and (max-width: 750px) {
    .fixmobilebtn2 {
     margin-left: 0 !important;
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }

     .fixmobilebtn1 {
    width: 5em !important;
    color: #fff !important;
    margin-top: 0.5em !important;
    }
} 
</style>
