<template>
<div id="instructor">
  <h1 class="styleh1">Top Bar Info</h1>
    <form action="">
      <div class="container">
        <div class="row">
          <div class="ins_colo flexBox col-md-12">
            <div class="border m-5">
              <h3 class="h3">Info</h3>
             
                <div class="form-group">
                  <label for="url">Url</label>
                  <input type="text" name="url" v-model="info1.url" class="form-control" placeholder="url"> 
                </div>
                <div class="form-group">
                  <label for="info">Info</label>
                  <textarea name="info" id="" cols="" v-model="info1.info" class="form-control" placeholder="Description" rows="3"></textarea>
               
              </div>
                  <div >
                  <div v-if="create" class="form-group">
                      <button @click.prevent="onFormSubmit" type="submit" class="btn save">Save About</button>
                  </div>
                   <div v-else class="form-group">
                      <button @click.prevent="onInfoUpdate" type="submit" class="btn save">Update About</button>
                  </div>
               </div>
            </div>
            </div>
        </div> 
      </div>
    </form>
</div>
</template>

<script>
import Vue from 'vue'
import axios from "axios";

import "vue-toast-notification/dist/theme-default.css";
import TopBarApi from '@/services/api/TopBarApi';

export default {
  name: 'InfoBar',
  data(){
    return {
       create: true,
       info1: {
         url:"",
         info:""
       }
    }
  },
  created(){ 
   TopBarApi.getInfo().then(res => {
    //  console.log(res)
      if(res.data.data.length != 0) {
          this.info1 = res.data.data[0];
          this.create = false;
      }
    }).catch(err => {
      this.$toast.open({message: "There was an error", type:"error", position: "top"});
    })
  },
    methods: {
    onFormSubmit(e) {
      TopBarApi.createInfo(this.info1).then(res => {
        this.$toast.open({message: "Info Created", position: "top"});
      }).catch(err => {
        this.$toast.open({message: "There was an error", type:"error", position: "top"});
      })
    },

    onInfoUpdate() {
      TopBarApi.updateInfo(this.info1._id,this.info1).then(res => {
        this.$toast.open({message: "Info Updated", position: "top"});
      }).catch(err => {
        console.log(err)
        this.$toast.open({message: "There was an error", type:"error", position: "top"});
      })
    }
    }
}
</script>


<style scoped lang="scss">

  #instructor {
    background: #f3f3f3;
  
    .ins_colo {
      border-radius: 2%;
    }
     label {
          letter-spacing: 0px;
          opacity: 1;
          font-weight: 600;
          font-size: 0.9em;
          font-weight: 600;
          text-transform: capitalize;
    }
    .flexBox {
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .border {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
   -webkit-box-shadow: 2px 2px 8px;
    box-shadow: 0px 0px 7px 3px #b1b1b1;
    width: 35em;
    height: 23em;
  }
  h3 {
  color: #fff;
  background: #08635d;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px
}
  H4 {
    text-align: center;
  }
  }
</style>
